#thanks-folks {
  position: relative;
}
#thanks-folks h2 {
  margin: 1em 0 0 0;
}
#thanks-folks table {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}
#thanks-folks table tr {
  border-color: #ddd;
  border-width: 1px 0;
  background-color: white;
}
#thanks-folks table tr td.stats {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1em;
}
#thanks-folks table tr:nth-child(even) {
  background-color: #F2F4F9;
}
#thanks-folks table td {
  padding: 5px;
  white-space: nowrap;
}
#thanks-folks table td:nth-child(5),
#thanks-folks table td:last-child {
  font-size: 0.9em;
}
#thanks-folks table td:last-child {
  white-space: normal;
}
#thanks-folks table col.col-gravatar {
  width: 45px;
}
#thanks-folks table col.col-name {
  width: 200px;
}
#thanks-folks table col.col-amount {
  width: 60px;
}
#thanks-folks table col.col-package {
  width: 80px;
}
#thanks-folks table col.col-date {
  width: 120px;
}
#thanks-folks table .twitter, #thanks-folks table .github, #thanks-folks table .subscription {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 26px;
  text-indent: 16px;
  background: no-repeat left center;
}
#thanks-folks table .github {
  margin-left: 8px;
  background-image: url(/img/icons/github.png);
}
#thanks-folks table .twitter {
  margin-left: 6px;
  background-image: url(/img/icons/twitter.png);
}
#thanks-folks table .package {
  float: left;
  padding: 3px 10px;
  background-color: #3f9c33;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
#thanks-folks table .package.custom {
  display: none;
}
/* #thanks-folks table .package.platinum { background-color: #479B2A; } */
/* #thanks-folks table .package.gold     { background-color: #74FC44; } */
/* #thanks-folks table .package.silver   { background-color: #9CFD7A; } */
/* #thanks-folks table .package.bronze   { background-color: #D7FFCA; } */

#thanks-folks table .subscription {
  float: left;
  margin-left: 5px;
  background-image: url(/images/icons/recurring.png);
}
#thanks-folks table a {
  color: #666;
  text-decoration: underline;
}
#thanks-folks table img {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#thanks-folks .sidenote {
  top: 80px;
}
.heading {
  height: 50px; 
  background-color: white !important;
  color: rgb(241, 66, 21);
}
.pagination {
  position: absolute;
  top: 67px;
  right: 370px;
}
.pagination span.first {
  display: none;
}
.pagination.first_page span.first {
  display: inline-block;
}
.pagination.first_page a.first {
  display: none;
}
.pagination span.previous {
  display: none;
}
.pagination.first_page span.previous {
  display: inline-block;
}
.pagination.first_page a.previous {
  display: none;
}
.pagination span.next {
  display: none;
}
.pagination.last_page span.next {
  display: inline-block;
}
.pagination.last_page a.next {
  display: none;
}
.pagination span.last {
  display: none;
}
.pagination.last_page span.last {
  display: inline-block;
}
.pagination.last_page a.last {
  display: none;
}
.pagination.paged a.paged {
  display: none;
}
.pagination:not(.paged) *:not(.paged) {
  display: none !important;
}
