#thanks-folks {
  position: relative;
}
#thanks-folks h2 {
  margin: 1em 0 0 0;
}
#thanks-folks table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
  border-collapse: collapse;
}
#thanks-folks table tr {
  border-color: #ddd;
  border-width: 1px 0;
  background-color: white;
}
#thanks-folks table tr td.stats {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1em;
}
#thanks-folks table tr:nth-child(even) {
  background-color: #F2F4F9;
}
#thanks-folks table td {
  padding: 5px;
  white-space: nowrap;
}
#thanks-folks table td:nth-child(5),
#thanks-folks table td:last-child {
  font-size: 0.9em;
}
#thanks-folks table td:last-child {
  white-space: normal;
}
#thanks-folks table col.col-gravatar {
  width: 45px;
}
#thanks-folks table col.col-name {
  width: 200px;
}
#thanks-folks table col.col-amount {
  width: 60px;
}
#thanks-folks table col.col-package {
  width: 80px;
}
#thanks-folks table col.col-date {
  width: 120px;
}
#thanks-folks table .twitter, #thanks-folks table .github, #thanks-folks table .subscription {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 26px;
  text-indent: 16px;
  background: no-repeat left center;
}
#thanks-folks table .github {
  margin-left: 8px;
  background-image: url(/img/icons/github.png);
}
#thanks-folks table .twitter {
  margin-left: 6px;
  background-image: url(/img/icons/twitter.png);
}
#thanks-folks table .package {
  float: left;
  padding: 3px 10px;
  background-color: #3f9c33;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
#thanks-folks table .package.custom {
  display: none;
}
/* #thanks-folks table .package.platinum { background-color: #479B2A; } */
/* #thanks-folks table .package.gold     { background-color: #74FC44; } */
/* #thanks-folks table .package.silver   { background-color: #9CFD7A; } */
/* #thanks-folks table .package.bronze   { background-color: #D7FFCA; } */

#thanks-folks table .subscription {
  float: left;
  margin-left: 5px;
  background-image: url(/images/icons/recurring.png);
}
#thanks-folks table a {
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  color: #666;
  text-decoration: underline;
}
#thanks-folks table img {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#thanks-folks .sidenote {
  top: 80px;
}
.heading {
  height: 50px;
  background-color: white !important;
  color: #666;
  font-weight: bold;
}
.pagination {
  position: absolute;
  right: 0px;
}
thead .pagination {
  top: 67px;
}
tfoot .pagination {
  bottom: -4px;
}
.pagination span.first {
  display: none;
}
.pagination.first_page span.first {
  display: inline-block;
}
.pagination.first_page a.first {
  display: none;
}
.pagination span.previous {
  display: none;
}
.pagination.first_page span.previous {
  display: inline-block;
}
.pagination.first_page a.previous {
  display: none;
}
.pagination span.next {
  display: none;
}
.pagination.last_page span.next {
  display: inline-block;
}
.pagination.last_page a.next {
  display: none;
}
.pagination span.last {
  display: none;
}
.pagination.last_page span.last {
  display: inline-block;
}
.pagination.last_page a.last {
  display: none;
}
.pagination.paged a.paged {
  display: none;
}
.pagination:not(.paged) *:not(.paged) {
  display: none !important;
}

#campaign-progress {
  position: relative;
}
#campaign-progress i {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
}
#campaign-progress i:before {
  display: inline-block;
  content: "\f007";
  font-size: 68px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#campaign-progress i:after {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  content: "\f007";
  font-size: 55px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* #campaign-progress i:nth-child(1):before { */
/*   content: "\f08a" */
/* } */
/* #campaign-progress i:nth-child(2):before { */
/*   content: "\f109" */
/* } */
/* #campaign-progress i:nth-child(3):before { */
/*   content: "\f000" */
/* } */
/* #campaign-progress i:nth-child(4):before { */
/*   content: "\f004" */
/* } */
/* #campaign-progress i:nth-child(5):before { */
/*   content: "\f0ac" */
/* } */
/* #campaign-progress i:nth-child(6):before { */
/*   content: "\f0f4" */
/* } */
/* #campaign-progress i:nth-child(7):before { */
/*   content: "\f086" */
/* } */
/* #campaign-progress i:nth-child(8):before { */
/*   content: "\f0c2" */
/* } */
/* #campaign-progress i:nth-child(9):before { */
/*   content: "\f185" */
/* } */
/* #campaign-progress i:nth-child(10):before { */
/*   content: "\f118" */
/* } */
/* #campaign-progress i:nth-child(11):before { */
/*   content: "\f0c3" */
/* } */
/* #campaign-progress i:nth-child(12):before { */
/*   content: "\f164" */
/* } */
/* #campaign-progress i:nth-child(13):before { */
/*   content: "\f0c2" */
/* } */
/* #campaign-progress i:nth-child(14):before { */
/*   content: "\f007" */
/* } */
/* #campaign-progress i:nth-child(15):before { */
/*   content: "\f091" */
/* } */
/* #campaign-progress i:nth-child(16):before { */
/*   content: "\f085" */
/* } */
/* #campaign-progress i:nth-child(17):before { */
/*   content: "\f0c2" */
/* } */
/* #campaign-progress i:nth-child(18):before { */
/*   content: "\f109" */
/* } */
/* #campaign-progress i:nth-child(19):before { */
/*   content: "\f086" */
/* } */
/* #campaign-progress i:nth-child(20):before { */
/*   content: "\f004" */
/* } */

#campaign-progress .goal i {
  color: #ccc;
}
#campaign-progress .completed {
  position: absolute;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
}
#campaign-progress .completed i {
  color: #D82222;
}
