/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */


.header-container,
.footer-container,
.arrow-white {
    background-color: #de390c;
}
.header-container ul,
.footer-container ul {
    margin: 0;
    padding: 0;
}
.footer-container { padding-bottom: 5em }
.footer-container .nav-meta a { color: white; font-weight: normal; text-decoration: none }
.footer-container .nav-meta a:hover { text-decoration: underline; }
.footer-container h4 { font-weight: normal; margin: 3em 0 2em; }

.main div.button {
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.2);
}
/*
.yellow {
  background: rgba(237, 232, 141, 0.2); 
  background-image: -webkit-gradient(linear, 0%, 0%, 0% 100%, from(#ffffff), to(rgba(237, 232, 141, 0.2)));
  background-image: -webkit-linear-gradient(top, #ffffff, rgba(237, 232, 141, 0.2)); 
  background-image:    -moz-linear-gradient(top, #ffffff, rgba(237, 232, 141, 0.2));
  background-image:     -ms-linear-gradient(top, #ffffff, rgba(237, 232, 141, 0.2));
  background-image:      -o-linear-gradient(top, #ffffff, rgba(237, 232, 141, 0.2));
}
.yellow p {
  color: black;	
  font-weight: normal;
}
.yellow a {
  color: #ede88d;
  font-weight: bold;
}

.green {
  background: rgba(171, 206, 152, 0.1);  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(rgba(171, 206, 152, 0.1)));
  background-image: -webkit-linear-gradient(top, #ffffff, rgba(171, 206, 152, 0.1)); 
  background-image:    -moz-linear-gradient(top, #ffffff, rgba(171, 206, 152, 0.1));
  background-image:     -ms-linear-gradient(top, #ffffff, rgba(171, 206, 152, 0.1));
  background-image:      -o-linear-gradient(top, #ffffff, rgba(171, 206, 152, 0.1));
}
.green p {
  color: black;	
  font-weight: normal;
}
.green a {
  color: #abce98;
  font-weight: bold;
}

.blue {
  background: rgba(165, 179, 208, 0.2); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(rgba(165, 179, 208, 0.2)));
  background-image: -webkit-linear-gradient(top, #ffffff, rgba(165, 179, 208, 0.2)); 
  background-image:    -moz-linear-gradient(top, #ffffff, rgba(165, 179, 208, 0.2));
  background-image:     -ms-linear-gradient(top, #ffffff, rgba(165, 179, 208, 0.2));
  background-image:      -o-linear-gradient(top, #ffffff, rgba(165, 179, 208, 0.2));
}
.blue p {
  color: black;	
  font-weight: normal;
}
.blue a {
  color: #a5b3d0;
  font-weight: bold;
}

.red {
  background: rgba(229, 139, 130, 0.2);  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(rgba(229, 139, 130, 0.2)));
  background-image: -webkit-linear-gradient(top, #ffffff, rgba(229, 139, 130, 0.2)); 
  background-image:    -moz-linear-gradient(top, #ffffff, rgba(229, 139, 130, 0.2));
  background-image:     -ms-linear-gradient(top, #ffffff, rgba(229, 139, 130, 0.2));
  background-image:      -o-linear-gradient(top, #ffffff, rgba(229, 139, 130, 0.2));
}
.red p {
  color: black;	
  font-weight: normal;
}
.red a {
  color: #e58b82;
  font-weight: bold;
}
*/
#below_header {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: white;
    padding-top: 10px;
}

footer h4 {
  margin-bottom: 0px;  
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

aside p,
aside h2 {
  margin: 0px;  
}

aside {
  margin-top: 50px;
}

div.button {
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -ms-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
a:hover {
  color: #ee4214;
}

h1,
h2,
h3,
.button h3 {
  /*font-family: 'Share Tech Mono', sans-serif;	*/
  text-transform: capitalize;
}
h2 {
    color: #ee4214;
    margin: 1.5em 0 1.5em;
    font-size: 2.5em;
    line-height: 1;
}
ul {
     list-style-type: circle;
}

/* ============
    SPRITES
   ============ */

.logo, .arrow-white, .arrow-red {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    text-indent: 99em;
    overflow: hidden;
}
.logo {
    background-position: 0px -393px;
    margin: 1em 0em 0em;
    width: 310px;
    height: 150px;
}
.social-media ul {
    margin-top: 1em;
    padding: .4em 1em .2em;
    width: 10em;
    background: rgba(255, 255, 255, 0.6);
    list-style-type: none;
    border-radius: 8px;
}
.social-media ul li {
    float: left;
    margin-right: .5em;
}
.arrow-white, .arrow-red {
    width: 7em;
    height: 2.7em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.arrow-white {
    background-position: 25px -183px;
}
.arrow-red {
    background-color: white;
    background-position: 25px -220px;
}

/* ==========================================================================
   PARALLAX ELEMENTS
   ========================================================================== */
.container {
    min-height: 25em;
    padding-bottom: 4em;
}
.slide1, .slide3 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide1 {
    background-image: url(../img/workshop2_small.jpg);
    border-bottom: solid 1em #a1c1e8;
}
.slide3 {
    background-image: url(../img/workshop1_small.jpg);
    border-bottom: solid 1em #e68d85;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .summer_of_code {
      float: left;
    }
    
    .summer_of_code img {
      width: 80%;
    }
}

@media only screen and (min-width: 768px) {


/* ============
    WIDE: Menu
   ============ */
   .logo {
       background-position: 0px -260px;
       margin: 1em 0em 3em;
       width: 520px;
       height: 150px;
   }
   .slide1 {
       background-image: url(../img/workshop2.jpg);
   }
   .slide3 {
       background-image: url(../img/workshop1.jpg);
   }
    .title {
        float: left;
        margin-top: 57px;
    }
    
    .summer_of_code {
      float: right;
      margin-right: 52px;
    }

    .summer_of_code img {
      width: 100%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

   .logo {
       background-position: 0px 0px;
       margin: 2em 0em 3em;
       width: 680px;
       height: 180px;
   }
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}