/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

@font-face {
    font-family: 'Interstate';
    src: url('fonts/interstate_mono-webfont.eot');
    src: url('fonts/interstate_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interstate_mono-webfont.woff') format('woff'),
         url('fonts/interstate_mono-webfont.ttf') format('truetype'),
         url('fonts/interstate_mono-webfont.svg#interstate_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
html {
  font-size: 18px;
}
body {
    font-size: 1em;
    font: 16px/26px Interstate, Helvetica Neue, Arial;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
p {
  line-height: 1.7;
  margin: 1.6em 0 1.2em
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

.bank {
  padding: 1em 0 0.5em 1em;
  font-size: 0.9em;
  background-color: #f6f6f6;
}
.bank dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
  color: #666;
}
.bank dt:after {
  /* content: ":"; */
}
.bank dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
/* =====================================================
    BLOG
  ====================================================== */

.blog h1 {
  line-height: 1;
  color: #666;
}
.blog .meta {
  font-size: 0.9em;
  font-style: italic;
}
.blog .meta a {
  color: #666;
  text-decoration: underline;
}
.blog pre {
  margin-top: 1em;
  padding: 1em 1.5em;
  line-height: 1.5em;
  border: 1px solid rgb(170, 170, 170);
  background: rgb(246, 246, 246);
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: #666;
}
.blog article {
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-bottom: 1px solid #ccc;
}

.blog-teaser {

}
.blog-teaser h3 {
  text-transform: uppercase;
}
.blog-teaser .teaser-date {
  border-top: solid 1px lightgray;
  color: lightgray;
  width: 13em;
  padding-top: .6em;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

.wrapper {
    width: 90%;
    margin: 0 5%;
}
.index .wrapper {
  margin-bottom: 0;
}
.wrapper-blog {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.footer-container,
.arrow-white {
    background-color: rgba(222, 57, 12, 1);
}
.index .header-container {
  padding-bottom: .6em;
}
/* smaller pages */
.page .header-container {
  position: static;
  background-color: rgb(222, 57, 12, 1);
  /* background-color: rgba(211, 54, 11, 1); */
}

/* index */
.header-container {
  /*position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 99;*/
  background-color: rgba(222, 57, 12, 1);
  /* background-color: rgba(211, 54, 11, .9); */
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transistion: all .5s ease;
}
.logo-nav {
  margin: 0;
  padding: 0;
}
.nav-primary > ul {
  display: none;
}
.nav-primary ul li a {
  display: inline-block;
  width: 100%;
  padding: .5em 0;
  color: white;
  border-bottom: white 1px solid;
  text-decoration: none;
}
.nav-primary ul li a:hover {
  background-color: rgba(182, 57, 12, 1)
}
.hamburger {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: white;
  cursor: pointer;
}
.hamburger i {
  display: block;
  margin: auto;
  margin-top: .8em;
  width: 1.3em;
  height: .15em;
  border-top: solid rgba(222, 57, 12, 0.9) .2em;
  border-bottom: double rgba(222, 57, 12, 0.9) .5em;
}
.keyvisual {
  position: relative;
  top: -70px;
  z-index: -1;
  height: 39em;
  background: url(../img/workshop1.jpg) 0 -50px;
}
.hero {
  margin-left: 7em;
  padding-left: 7em;
  margin-right: 7em;
  padding-right: 7em;
  min-height: 24em;
  text-align: center;
  background: url(../img/scribbles-frontpage.png) no-repeat;
}
.hero-sub {
  color: #380c01;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}
.hero-sub:before {
  content: "";
  display: block;
  position: absolute;
  left: 49%;
  margin-top: -3em;
  width: 48px;
  height: 35px;
  z-index: 80;
  background: url(../img/squiggly-line.png) no-repeat;
}
.hero-claim {
  font-size: 18px;
  color: #dc3a0c;
  margin-top: 1em;
}
.hero h1 {
  font-size: 75px;
  margin-bottom: 0em;
}
.hero h2 {
  font-size: 43px;
  margin-bottom: .7em;
}
.hero h1, .hero h2 {
  color: #dc3a0c;
  text-shadow: 3px 3px #fce2c1;
}
.star-red {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin: 0 1.3em;
  background: url(../img/star-red.png) no-repeat;
}

/* ===================
    New page layout
   =================== */
.content h1, .content h2, .content h3, .content h4 {
  color: #370d01;
}
.wrapper.main {
  overflow: auto;
  margin-bottom: 5em;
}
.main .content {
  margin-bottom: 2em;
  border-top: 4px solid #dc3a0c;
}





/* ===================
    FAQ Accordion
   =================== */

.content h3 {
  color: #de390c;
  font-size: 1.4em;
}
.accordion h3:hover {
  cursor: pointer;
}
.ui-accordion-header:focus {
  outline: none;
}
.ui-accordion-header:before {
  content: "";
  display: inline-block;
  padding: .7em 1.5em;
  margin-right: .5em;
  background-image: url(../img/sprites/faq_arrow_down.png);
  background-position: 19px 10px;
  background-repeat: no-repeat;
  background-color: #de390c;
  border-radius: 6px;
  vertical-align: bottom;
}
.ui-accordion-header:hover:before {
  content: "";
  display: inline-block;
  margin-right: .5em;
  background-image: url(../img/sprites/faq_arrow_down_red.png);
  background-position: 19px 10px;
  background-repeat: no-repeat;
  background-color: #de390c;
  border-radius: 5px;
}
.ui-accordion-header-active:before {
    content: "";
    display: inline-block;
    margin-right: .5em;
    background-image: url(../img/sprites/faq_arrow_up.png);
    background-position: 19px 8px;
    background-repeat: no-repeat;
    background-color: #de390c;
    border-radius: 5px;
}
.ui-accordion-header-active:hover:before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: .5em;
    background-image: url(../img/sprites/faq_arrow_up_red.png);
    background-position: 19px 8px;
    background-repeat: no-repeat;
    background-color: #de390c;
    border-radius: 5px;
}

.header-container ul,
.footer-container ul {
    margin: 0;
    padding: 0;
}
.footer-container { padding-bottom: 1em; padding-top: 2em; clear: both; }
.footer-container .nav-meta a { color: white; font-weight: normal; text-decoration: none }
.footer-container .nav-meta a:hover { text-decoration: underline; }
.footer-container p { margin-top: 4em; font-size: 0.9em; }
.footer-container .wrapper {position: relative; }

a.button {
  display: inline-block;
  margin: 2em 1em 0 0;
  padding: 20px;
  background-color: #e53f05;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/* credits for button effect go to
http://inspectelement.com/tutorials/create-a-slick-css3-button-with-box-shadow-and-rgba */

.button:hover {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.button:active {
  text-decoration: none;
  position: relative;
  top: 5px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

.button:active:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.title {
    color: white;
}
/* ==============
    MOBILE: Main
   ============== */

.footer-container footer {
    color: white;
    padding-top: 1em;
}
.footer-container footer a {
  color: white;
  text-decoration: underline;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

aside {
  margin-top: 50px;
}

aside a.current {
  font-weight: bold;
}

a {
  color: #f14215;
  text-decoration: none;
}
a:hover {
  color: #f14215;
  text-decoration: underline;
}

h1,
h2,
h3,
.button h3 {
  font-family: 'Interstate', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}
h2 {
  margin: .8em 0 1.1em;
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
}
h3 {
  font-size: 1.7em;
}
ul {
  list-style-type: none;
}
.container li {
  list-style-type: disc;
}
.container aside li {
  list-style-type: none;
}
.content {
  width: 100%;
  float: none;
}
/* ===============
    SIDEBARS
   =============== */

.sidebar {
  width: 100%;
  float: none;
  margin-top: 0;
}
.sidebar-blog .button, .sidebar .button {
  margin: 0;
}
.sidebar-blog .rss, .sidebar .rss, .sidebar-blog .teamblogs, .sidebar-blog .supportscibble {
  border-top: solid .1em lightgray;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.sidebar h2, .sidebar h3 {
  color: #390d00;
}
.frontpage-sidebar {
  border-top: solid 4px #dc3a0c;
}
.frontpage-sidebar .blogroll {
  margin: 0;
  padding: 0;
}
.fullwidth {
  width: 100%;
  float: none;
  clear: both;
}
.related {
	margin-bottom: 5em;
	padding-top: .5em;
	padding-bottom: 1em;
	text-align: left;
}
.related ul li:before {
	content: '';
}

/* ============
    SPRITES
   ============ */

.logo-nav {
  background-image: url(../img/sprites/logo_subnavi.png);
  background-repeat: no-repeat;
  background-position: 0px 7px;
  width: 210px;
  height: 58px;
  text-indent: 100%;
  overflow: hidden;
}
.logo-nav a {
  overflow: hidden;
  text-indent: 100%;
  padding: 1em 0;
  width: 210px;
  height: 58px;
}
.logo {
    background-image: url(../img/sprites/logo_subnavi.png);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    margin: 1em 0em 0em;
    width: 320px;
    height: 100px;
    text-indent: 99em;
    overflow: hidden;
}
.social-media ul {
    margin-top: 1em;
    padding: .4em 1em .2em;
    width: 10em;
    background: rgba(255, 255, 255, 0.6);
    list-style-type: none;
    border-radius: 8px;
}
.social-media ul li {
    float: left;
    margin-right: .5em;
}
.arrow-white, .arrow-red {
    width: 7em;
    height: 2.7em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.arrow-white {
    background-image: url(../img/sprites/arrow_down.png);
    background-repeat: no-repeat;
    background-position: 28px 5px;
}
.arrow-red {
    background-image: url(../img/sprites/arrow_down_red.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 28px 5px;
}
.arrow-white a, .arrow-red a {
  padding: 1.5em 3.5em;
  text-indent: 99em;
  overflow: hidden;
}


/* ==========================================================================
   SCRIBBLES
   ========================================================================== */

.scribble1, .scribble2, .scribble3, .scribble4, .scribble5,
.scribble6, .scribble7, .scribble8, .scribble9, .scribble10, 
.scribble11, .scribble12, .scribble13, .scribble14, .scribble15,
.scribble16, .scribble17, .scribble18 {
  background-image: url(../img/scribbles.png);
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 250px;
  margin-top: 0;
}
.scribble1 { background-position: 70px 0px; }
.scribble2 { background-position: 70px -250px; }
.scribble3 { background-position: 70px -500px; }
.scribble4 { background-position: 70px -750px; }
.scribble5 { background-position: 70px -1000px; }
.scribble6 { background-position: 70px -1250px; }
.scribble7 { background-position: 70px -1500px; }
.scribble8 { background-position: 70px -1750px; }
.scribble9 { background-position: 70px -2000px; }
.scribble10 { background-position: 70px -2250px; }
.scribble11 { background-position: 70px -2500px; }
.scribble12 { background-position: 70px -2750px; }
.scribble13 { background-position: 70px -3000px; }
.scribble14 { background-position: 70px -3250px; }
.scribble15 { background-position: 70px -3500px; }
.scribble16 { background-position: 70px -3750px; }
.scribble17 { background-position: 70px -4000px; }
.scribble18 { background-position: 70px -4250px; }

/*  Allign scribble with video */
.index .scribble1 {
	margin-top: 5em;
}

/* ==========================================================================
   PARALLAX ELEMENTS
   ========================================================================== */
.container {
    min-height: 25em;
    padding-bottom: 0em;
}
.container.slide0 {
  min-height: 18em;
}
.slide1, .slide3 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30em;
}
.slide1 {
    background-image: url(../img/workshop2_small.jpg);

}
.slide3 {
    background-image: url(../img/workshop1_small.jpg);

}
.page-faq h3 {
    margin: 2em 0;
    padding: 0 3.5em;
    text-indent: -3.5em;
}

/* ==========================================================================
   Sponsors
   ========================================================================== */
.sponsors {
}
.sponsors a {
  display: inline-block;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 0.8em;
  background: white center center no-repeat;
  background-size: contain;
}
.sponsors a:last-child {
  margin-right: 0;
}
.sponsors.platinum a {
  width: 320px; /* 640 * 262 */
  height: 181px;
}
.sponsors.gold a {
  width: 320px;
  height: 131px;
}
.sponsors.silver a {
  width: 235px;
  height: 93px;
}
.sponsors.bronze a {
  width: 184px; /* 368 * 150 */
  height: 75px;
}
.sponsors ._37signals  { background-image: url(../img/sponsors/37signals.png); }
.sponsors .anynines    { background-image: url(../img/sponsors/anynines.png); }
.sponsors .aupair      { background-image: url(../img/sponsors/aupair.png); }
.sponsors .bendyworks  { background-image: url(../img/sponsors/bendyworks.png); }
.sponsors .codegram    { background-image: url(../img/sponsors/codegram.png); }
.sponsors .confreaks   { background-image: url(../img/sponsors/confreaks.png); }
.sponsors .dawanda     { background-image: url(../img/sponsors/dawanda.png); }
.sponsors .dockyard    { background-image: url(../img/sponsors/dockyard.png); }
.sponsors .engineyard  { background-image: url(../img/sponsors/engineyard.png); }
.sponsors .envato      { background-image: url(../img/sponsors/envato.png); }
.sponsors .github      { background-image: url(../img/sponsors/github.png); }
.sponsors .gnip        { background-image: url(../img/sponsors/gnip.png); }
.sponsors .google      { background-image: url(../img/sponsors/google.png); }
.sponsors .groupon     { background-image: url(../img/sponsors/groupon.png); }
.sponsors .innoq       { background-image: url(../img/sponsors/innoq.png); }
.sponsors .honeybadger { background-image: url(../img/sponsors/honeybadger.png); }
.sponsors .frontfoot   { background-image: url(../img/sponsors/frontfoot.png); }
.sponsors .jumpstart   { background-image: url(../img/sponsors/jumpstart.png); }
.sponsors .nedap       { background-image: url(../img/sponsors/nedap.png); }
.sponsors .pivotal     { background-image: url(../img/sponsors/pivotal.png); }
.sponsors .rackspace   { background-image: url(../img/sponsors/rackspace.png); }
.sponsors .readmill    { background-image: url(../img/sponsors/readmill.png); }
.sponsors .soundcloud  { background-image: url(../img/sponsors/soundcloud.png); }
.sponsors .shopify     { background-image: url(../img/sponsors/shopify.png); }
.sponsors .supadupa    { background-image: url(../img/sponsors/supadupa.png); }
.sponsors .tilde       { background-image: url(../img/sponsors/tilde.png); }
.sponsors .upworthy    { background-image: url(../img/sponsors/upworthy.png); }
.sponsors .wimdu       { background-image: url(../img/sponsors/wimdu.png); }
.sponsors .wooga       { background-image: url(../img/sponsors/wooga.png); }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .summer_of_code {
      float: left;
    }
    .summer_of_code img {
      width: 80%;
    }
    .logo {
       background-image: url(../img/sprites/logo_start.png);
       background-position: 0px 0px;
       margin: 1em 0em 3em;
       width: 675px;
       height: 165px;
    }

/* ====================
    INTERMEDIATE: Sponsors
   ==================== */

    .sponsors div {
        width: 33%;
    }

}

@media only screen and (min-width: 768px) {


/* ============
    WIDE: Menu
   ============ */
   .logo {
      background-image: url(../img/sprites/logo_start.png);
      background-position: 0px 0px;
      margin: 1em 0em 3em;
      width: 675px;
      height: 165px;
   }
   .hamburger {
    display: none;
   }
  .nav-primary > ul {
    display: block;
    position: relative;
    width: auto;
    margin-top: .8em;
    float: right;
    /*text-align: center;
    position: relative;
    top: 5px;*/
  }
  .nav-primary > ul li > ul {
    display: none;
  }
  .nav-primary > ul li:hover ul {
    display: block;
    background-color: rgba(222, 57, 12, 1);
    position: absolute;
    z-index: 92;
    left: -.5em;
  }
  .nav-primary > ul li:hover ul li {
    display: block;
    padding-left: .9em;
  }
  .nav-primary > ul li {
    display: inline-block;
  }
  .nav-primary > ul li a {
    display: inline-block;
    width: auto;
    border: none;
  }
  .nav-primary ul li:after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 38px;
    background: url(/img/star.png) 16px 8px no-repeat;
  }
  .nav-primary > ul li a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  .nav-primary ul li a.current-page {
    background-image: url(../img/sprites/nav_active_arrow.png);
    background-repeat: no-repeat;
    background-position: center 41px;
    text-decoration: none;
    padding-bottom: 1.2em;
  }
   .slide1 {
       background-image: url(../img/workshop2.jpg);
   }
   .slide3 {
       background-image: url(../img/workshop1.jpg);
   }
    .title {
        float: left;
        margin-top: 57px;
    }

    .summer_of_code {
      float: right;
      margin-right: 52px;
    }

    .summer_of_code img {
      width: 100%;
    }

/* ============
    WIDE: Main
   ============ */

    .content {
      width: 65%;
      float: left;
    }
    .sidebar {
      width: 27%;
      float: right;
    }
    .content-blog {
      width: 60%;
      overflow: auto;
    }
    .sidebar-blog {
      position: absolute;
      top: 9em;
      right: 0;
      width: 27%;
      margin-right: 2em;
      text-align: right;
    }
    .related {
        text-align: right;
    }

    .nav-primary { float: right; }
    .nav-primary ul { text-align: right; }
    /*.header-container { height: 4.1em; }*/
    .logo-nav { float: left; }

    .no-scroll .logo-nav {
      /*display: block;*/
    }
    .container.slide0 { min-height: 25em; }

/* ====================
    WIDE: Sponsors
   ==================== */

    .sponsors div {
        width: 33%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

   .logo {
       margin: 2em 0em 3em;
       width: 680px;
       height: 180px;
   }
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto 3em;
    }
    .wrapper-blog {
      position: relative;
      width: 1026px; /* 1140px - 10% for margins */
      margin: 0 auto 3em;
    }
    .sidebar-blog {
      top: 0;
      right: 0;
      margin-right: 0em;
      margin-top: 0em;
    }


/* ====================
    Maximal: Sponsors
   ==================== */

    .sponsors div {
        width: 20%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.donation-plans {
  float: left;
}

.container ul.donation-plans {
  width: 1124px;
  padding-left: 0px;
}

.container ul.donation-plans li {
  display: inline-block;
  position: relative;
  width: 210px;
  /* height: 300px; */
  vertical-align: top;
  list-style-type: none;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4px;
  padding: 5px 15px;
  margin-right: 15px;
  text-align: center;
}

.container ul.donation-plans li:before {
  content: "";
  color: white;
}

.container ul.donation-plans li {
  padding-top: 20px;
}

.container ul.donation-plans p {
  text-align: left;
}

#sponsoring {
  position: relative;
}

ul.donation-plans .donate-button {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 15px; */
  margin: 0 auto;
  text-align: center;
  width: 180px;
  margin-bottom: 15px;
}

.donate-button.button {
  position: relative;
  top: -3px;
  font-size: 1em;
  padding: 15px;
}

ul.donation-plans a.button:active {
  position: inherit;
}

.custom-donation {
  margin-bottom: 1em;
}

.custom-donation .button {
  margin-top: 0;
}

.custom-donation input[type=number] {
  height: 50px;
  padding: 0px 10px;
  font-size: 24px;
  width: 120px;
  margin-right: 20px;
}

.footnote {
  font-size: 90%;
}

.stripe-note {
  margin-top: 0px;
  color: #bbb;
}
.stripe-note a {
  color: #bbb;
  text-decoration: underline;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
