body {
	font-size: 15px;
	line-height: 1.6em
}
h2 {
	margin-top: 1em;
}
.footer {
	margin-top: 2em;
	padding: 1.3em 0 1em;
}
.hero-unit .lead {
	margin-top: 2em;
}
.hero-unit, .footer {
	color: white;
	background: rgb(211, 54, 11);
}