:root {
  --size: 20px;
  --gap: 1px;
}

.wrapper {
  text-align: center;
}
.centerWrapper {
  display: inline-block;
}
.gridWrapper {
		display: grid;
    grid-gap: var(--gap);
		grid-template-columns: repeat(13, var(--size));
    grid-template-rows: repeat(13, var(--size));
		background-color: #fff;
	}

.photo_size1 {
  width: var(--size);
  height: var(--size);
}
.size2H {
    grid-column: span 2;
}
.size2V {
    grid-row: span 2;
}
.photo_size2H {
    width: calc(2*var(--size) + var(--gap));
    height: var(--size);
}
.photo_size2V {
    width: var(--size);
    height: calc(2*var(--size) + var(--gap));
}
.size3 {
    grid-row: span 2;
    grid-column: span 2;
}
.photo_size3 {
    width: calc(2*var(--size) + var(--gap));
    height: calc(2*var(--size) + var(--gap));
}
.size4 {
    grid-row: span 2;
    grid-column: span 3;
}
.photo_size4 {
    width: calc(3*var(--size) + 2*var(--gap));
    height: calc(2*var(--size) + var(--gap));
}
.size5 {
    grid-row: span 3;
    grid-column: span 3;
}
.photo_size5 {
    width: calc(3*var(--size) + 2*var(--gap));
    height: calc(3*var(--size) + 2*var(--gap));
}

.sponsorsBox{
  position:relative;
  display:block;
}
.sponsorsBox .sponsorName{
  -webkit-transition:all .35s;
  -moz-transition:all .35s
}
.sponsorsBox .sponsorNameBox {
  color:#fff;
  opacity:0;
  display:block;
  background:rgba(240,95,64,.9);
  position:absolute;top:0;
  text-align:center;
  width: 100%;
  height: calc(100% - var(--gap));
  transition:all .35s;
}
.sponsorsBox:hover .sponsorNameBox{
  opacity:1
}
.sponsorName{
  width:100%;
  text-align:center;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.size1 .sponsorName,
.size2V .sponsorName{
    font-size: 8px;
  }

@media (min-width: 400px) {
  :root {
    --size: 25px;
    --gap: 2px;
  }
}

@media (min-width: 500px) {
  :root {
    --size: 34px;
    --gap: 3px;
  }
}

@media (min-width: 665px) {
  :root {
    --size: 40px;
    --gap: 4px;
  }
}

@media (min-width: 800px) {
  :root {
    --size: 50px;
    --gap: 5px;
  }
}

