---
title: Rails Girls Summer of Code Blog Archive
class: page archive
layout: bootstrap
current: archive
permalink: /blog/archive/
---

<div class="container content--archive">
  <div class="col-md-8">
  <h1>Archive</h1>
  <ul class="list--archive list--none">
    {% for post in site.posts %}

      {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h2>{{ post.date | date: '%Y' }}</h2>
        {% endif %}
      {% endunless %}

      <li>{{ post.date | date:"%d %b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% include blog_sidebar.html %}
  </div>
</div>
