---
layout: campaign
title: Campaign
class: page page-campaign
current: campaign
stripe: yes
sponsors: yes
permalink: campaign/
---

<div class="margin-top">
  <p class="stats">
A total of <strong class="total"></strong> has been donated for 2018. That means this many teams have been funded:
</p>
</div>

<div class="margin-bottom">
  <div id="progress">
    <div class="goal"></div>
    <div class="completed"></div>
  </div>
</div>


<div class="margin-top">
  <strong>The Fundraising campaign for 2018 is now open!</strong>
</div>


<div class="margin-top">

  <h3>Support RGSoC 2018 with a simple donation</h3>
  
  <p>Make your donation below and help us get more women and non-binary people into Open Source through our <a href="/blog/2016-06-01-ruby-heroes-2016" target="_blank">award-winning</a> scholarship program. Lots of individuals choose to support our program — every donation counts!
  </p>

  <p class="custom-donation">
    <input type="number" id="custom-donation-amount" placeholder="75.00 $" min="0" step="25.00"/>
      <a href="#" class="donate-button button" data-custom="true" data-name="Custom"> Donate Now <i class="icon-star-white"></i></a>
  </p>
  <p class="stripe-note">
    Secure Payments by <a href="https://stripe.com/blog/stripe-checkout">Stripe Checkout</a>
  </p>
</div>


<h3>Become an official sponsor for Rails Girls Summer of Code 2018!</h3>
 
 <br>
 <p>Rails Girls Summer of Code wouldn’t exist without the generous help of our sponsors. If you or your company want to support us, read more about our <a href="/sponsors/packages">sponsoring packages</a> or become a sponsor right away by choosing one of the packages below:
</p>

{% include sponsor_packages.html %}

<!--
<h3>Become Partner Company</h3>

<p>To find out more about options for becoming a partner company, like <a href="http://travis-ci.com">Travis CI</a> and <a href="http://github.com">GitHub</a>, please <a href="mailto:campaign@rgsoc.org">contact us</a>.</p>

-->




<section id="thanks-folks">
<h2>A huge thank you to everyone who has supported us so far — you are all awesome</h2>

  <table>
   <colgroup>
     <col class="col-gravatar"></col>
     <col class="col-name"></col>
     <col class="col-amount"></col>
     <col class="col-package"></col>
     <col class="col-date"></col>
     <col class="col-comment"></col>
   </colgroup>
   <thead>
     <tr>
       <th colspan="2">
         <h3>Sponsors</h3>
       </th>
     </tr>
   </thead>
   <tbody id="sponsors"></tbody>
   <thead>
     <tr>
       <th colspan="2">
         <h3>Individual Donors</h3>
       </th>
       <th colspan="4">
         {% include pagination.html %}
       </th>
     </tr>
   </thead>
   <tbody id="donations"></tbody>
   <thead>
     <tr>
       <th colspan="6">
         {% include pagination.html %}
       </th>
     </tr>
   </thead>
  </table>

  <p>This community is just amazing. Thank you so much!</p>
</section>
