<section class="sponsors-container">
  <div class="wrapper clearfix">
    <div class="fullwidth">
      <!-- <h1>Sponsors of Rails Girls Summer of Code 2014</h1> -->
      <!-- <div class="sponsors diamond">
      </div> -->
      <div class="sponsors platinum">
      	<a href="https://travis-ci.com/" target="_blank" class="travis supporting-organizer"></a>
      </div>
      <div class="sponsors gold">
      	<a href="https://developers.google.com/" target="_blank" class="google"></a>      
        <a href="https://soundcloud.com/" target="_blank" class="soundcloud"></a>
      </div>
      <div class="sponsors silver">
      	<a href="http://www.anynines.com/" target="_blank" class="anynines supporting-organizer"></a>
      	<a href="http://www.envato.com/" target="_blank" class="envato"></a>
      </div>
      <div class="sponsors bronze">
      	<a href="http://www.wooga.com/" target="_blank" class="wooga"></a>
      </div>
      <!-- <div class="spnsors scholarship">
      	
      </div> -->
    </div>
  </div>
</section>