<aside {% if page.current == 'blog' %} class="sidebar-blog"{% else %} class="sidebar-blog" {% endif %}>
  <!-- <div class="scribble10">-->
  <div class="nerdies">
      <h3>Support us!</h3>
      <a href="http://unerdwear.com/release1-2-railsgirls.html" title="RGSoC at Unerdwear" target="_blank"><img src="/img/unerdwear.gif" alt="RGSoC at Unerdwear"></a>
      <p>Unerdwear donates all profits from selling these Rails Girls Nerdies to RGSoC &lt;3</p>
  </div>
 
  <div class="twitter at">
      <a class="twitter-timeline"  href="https://twitter.com/RailsGirlsSoC"  data-widget-id="353980868244684801">Tweets von @RailsGirlsSoC</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="twitter hashtag">
      <a class="twitter-timeline"  href="https://twitter.com/search?q=%23rgsoc"  data-widget-id="353988175556919296">Tweets über "#rgsoc"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
 <!--  <div class="support">
      <h3>Help us support more students!</h3>
      <a href="/campaign/" class="button">Donate Now!</a>
  </div> -->
   <div class="newsletter">
      <h3>Get our newsletter</h3>
      <a href="http://railsgirls.us7.list-manage.com/subscribe?u=36677d2ea7383a950d149c68b&id=243f532f22" title="Subscribe to our newsletter" target="_blank" class="button">Subscribe Now! <i class="icon-star-white"></i></a>
  </div>
   <div class="rss">
      <h3>Read our feed </h3>
      <a href="/blog.xml"><img src="/img/icons/rss.png" alt="RSS icon"> RSS Feed</a>
  </div>
  <div class="teamblogs">
      <h3>Team blogs</h3>
      <ul class="blogroll"></ul>
  </div>

</aside>
