<aside {% if page.current == 'blog' %} class="sidebar-blog"{% else %} class="sidebar-blog" {% endif %}>
  <!-- <div class="scribble10"></div> -->

  <section>
    <h3>Please donate!</h3>
    <p>In order to make this happen we need your help. Please consider donating:</p>
    <p class="custom-donation">
      <input type="number" id="custom-donation-amount" placeholder="75.00 $" min="0 " step="25.00"/>
      <a href="#" class="donate-button donate-button-small button" data-custom="true" data-name="Custom">
        Donate Now <i class="icon-star-white"></i>
      </a>
    </p>
    <p>Or find out more about <a href="/campaign">our campaign</a>!</p>
  </section>

  <section>
    <h3>Become a Sponsor!</h3>
    <p>Without our sponsors Rails Girls Summer of Code would not be possible.</p>
    <p>To support our mission in bigger steps, please ask your company to become a sponsor; sign up for a <a href="/sponsors/packages">sponsor package</a>!</p>
  </section>

  <section>
    <h3>Connect with us!</h3>
    <ul class="list list--none">
      <li><a href="/blog.xml"><i class="fa fa-rss"></i> Read our feed</a></li>
      <li><a href="https://twitter.com/RailsGirlsSoC" target="_blank"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
      <li><a href="https://www.facebook.com/pages/Rails-Girls-Summer-of-Code/620914904656191" target="_blank"><i class="fa fa-facebook"></i> Find us on Facebook</a></li>
      <li><a href="http://railsgirls.us7.list-manage.com/subscribe?u=36677d2ea7383a950d149c68b&id=243f532f22" target="_blank"><i class="fa fa-envelope"></i> Subscribe to our newsletter</a></li>
    </ul>
  </section>
  <section>
    <h3>Latest posts</h3>
    <ul class="list list--none list--archive">
      {% for post in site.posts offset: 0 limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    <p>See all posts in the <a href="/blog/archive/">archive</a>!</p>
  </section>
  <section>
    <h3>Latest tweets</h3>
    <div class="twitter">
      <a class="twitter-timeline"  href="https://twitter.com/RailsGirlsSoC"  data-widget-id="353980868244684801">Tweets by @RailsGirlsSoC</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="twitter">
        <a class="twitter-timeline"  href="https://twitter.com/search?q=%23rgsoc"  data-widget-id="353988175556919296">Tweets about "#rgsoc"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </section>

