<aside class="sidebar">
  <div class="sidebar-content">
    <h3>See also</h3>

    <h4>About</h4>
    <ul class="list list--none list--archive">
      <li><a href="/about"                  {% if page.url == '/about/'                 %}class="current"{% endif %}>About RGSoC</a></li>
      <li><a href="/about/team"                  {% if page.url == '/about/team'                 %}class="current"{% endif %}>RGSoC Team</a></li>
      <li><a href="/about/roles"            {% if page.url == '/about/roles/'           %}class="current"{% endif %}>RGSoC Roles</a></li>
      <li><a href="/about/code-of-conduct"  {% if page.url == '/about/code-of-conduct/' %}class="current"{% endif %}>Code of Conduct</a></li>
    </ul>

    <h4>Students</h4>
    <ul class="list list--none list--archive">
      <li><a href="/students/application"   {% if page.url == '/students/application/'  %}class="current"{% endif %}>Application Guide</a></li>
      <li><a href="/students/finding-your-team"   {% if page.url == '/students/finding-your-team/'  %}class="current"{% endif %}>Finding your team</a></li>
    </ul>

  </div>

  {% include home_sidebar.html %}
</aside>
