<aside class="sidebar">
  <div class="sidebar-content">
    <h3>See also</h3>

    <h4>About</h4>
    <ul class="list list--none">
      <li><a href="/about"                  {% if page.url == '/about/'                 %}class="current"{% endif %}>About RGSoC</a></li>
      <li><a href="/about/team"                  {% if page.url == '/about/team'                 %}class="current"{% endif %}>RGSoC Team</a></li>
      <li><a href="/about/roles"            {% if page.url == '/about/roles/'           %}class="current"{% endif %}>RGSoC Roles</a></li>
      <li><a href="/about/code-of-conduct"  {% if page.url == '/about/code-of-conduct/' %}class="current"{% endif %}>Code of Conduct</a></li><li><a href="/about/sponsorship-guidelines/"  {% if page.url == '/about/sponsorship-guidelines/' %}class="current"{% endif %}>Sponsorship Guidelines</a></li>
    </ul>

    <h4>Students</h4>
    <ul class="list list--none">
      <li><a href="/students/application"   {% if page.url == '/students/application/'  %}class="current"{% endif %}>How to apply</a></li>
      <li><a href="/students/todo"          {% if page.url == '/students/todo/'         %}class="current"{% endif %}>Things to do</a></li>
      <li><a href="/students/conferences"   {% if page.url == '/students/conferences/'  %}class="current"{% endif %}>Conferences</a></li>
      <!--
      <li><a href="/students"               {% if page.url == '/students/'              %}class="current"{% endif %}>Students</a></li>
      <li><a href="/students/tools"         {% if page.url == '/students/tools/'        %}class="current"{% endif %}>Tools</a></li>
      <li><a href="/students/find-coaches"  {% if page.url == '/students/coaches/' %}class="current"{% endif %}>How to find coaches</a></li>
      <li><a href="/students/find-projects" {% if page.url == '/students/projects/'%}class="current"{% endif %}>How to find projects</a></li>
      <li><a href="/projects"               {% if page.url == '/projects/'              %}class="current"{% endif %}>Submit your project</a></li>
      -->
    </ul>

    <h4>Get involved</h4>
    <ul class="list list--none">
      <li><a href="/guide/coaching"          {% if page.url == '/guide/coaching/'          %}class="current"{% endif %}>Become a coach</a></li>
      <li><a href="/guide/projects"          {% if page.url == '/guide/projects/'          %}class="current"{% endif %}>Become a project mentor</a></li>
      <li><a href="/guide/coaching-company"  {% if page.url == '/guide/coaching-company/'  %}class="current"{% endif %}>Become a coaching company</a></li>
      <li><a href="/sponsors/packages"       {% if page.url == '/sponsors/packages/'       %}class="current"{% endif %}>Become a sponsor</a></li>
      <li><a href="/guide/supervisors"          {% if page.url == '/guide/supervisors/'          %}class="current"{% endif %}>Become a supervisor</a></li>
    </ul>

    <h4>FAQ</h4>
    <ul class="list list--none">
      <li><a href="/faq"               {% if page.url == '/faq/'          %}class="current"{% endif %}>Main FAQ</a></li>
      <li><a href="/faq/students"      {% if page.url == '/faq/students/' %}class="current"{% endif %}>Student's FAQ</a></li>
      <li><a href="/faq/sponsors"      {% if page.url == '/faq/sponsors/' %}class="current"{% endif %}>Sponsor's FAQ</a></li>
    </ul>
  </div>

  {% include home_sidebar.html %}
</aside>
