  <footer class="footer" id="footer">
    <div class="row footer-child">
      <div class="container" id="sponsors">
        {% if page.sponsors %}
          {% include sponsors_footer.html %}
        {% endif %}
      </div>
    </div>
    <div class="row footer-child">
      <div class="container">
        <div class="col-sm-3 col-x">
          <p>&#10084; artwork by <a href="http://www.ejaculesc.com/" target="_blank">Rebecca Conrad</a></p>
          <p>&copy; <a href="http://railsgirls.com/" title="" target="_blank">Rails Girls</a> 2015</p>
        </div>
        <div class="col-sm-3 col-x">
          <ul>
            <li>
              <a href="/about/imprint/" title="">Imprint</a>
            </li>
            <li>
              <a href="/about/code-of-conduct/" title="">Code of Conduct</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-x">
          <ul>
            <li>
              <a href="https://twitter.com/RailsGirlsSoC" title="">Twitter</a>
            </li>
            <li>
              <a href="https://github.com/rails-girls-summer-of-code/summer-of-code" title="">Github</a>
            </li>
            <li>
              <a href="mailto:" title="">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-x">
          <ul>
            <li><a href="http://railsgirls.us7.list-manage.com/subscribe?u=36677d2ea7383a950d149c68b&id=243f532f22" title="">Subscribe to our Newsletter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/shariff.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/date.format.js"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap.js"></script> -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/main.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/team.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/cities.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/donation.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/pagination.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41237864-1', 'railsgirlssummerofcode.org');
  ga('send', 'pageview');
</script>