  <footer class="footer" id="footer">
    <div class="row footer-child">
      <div class="container sponsor-container" id="sponsors">
        {% if page.sponsors %}
          {% include sponsors_footer.html %}
        {% endif %}
      </div>
    </div>
    <div class="row footer-child">
      <div class="container">
        <h3>Stay up to date</h3>
        <ul class="list list--none list--hor">
          <li><a href="/blog.xml"><i class="fa fa-rss"></i> Read our feed</a></li>
          <li><a href="https://twitter.com/RailsGirlsSoC" target="_blank"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
          <li><a href="https://www.facebook.com/pages/Rails-Girls-Summer-of-Code/620914904656191" target="_blank"><i class="fa fa-facebook"></i> Find us on Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-child">
      <div class="container">
        <p>
          &copy; <a href="http://railsgirls.com/" title="" target="_blank">Rails Girls</a> 2013-2016 &mdash;
          <a href="/about/code-of-conduct/" title="">Code of Conduct</a> |
          <a href="/sponsorship-guidelines/" title="">Sponsorship Guidelines</a> |
          <a href="/about/imprint/" title="">Imprint</a>
        </p>
      </div>
    </div>
  </footer>
</div>
<script src="{{ site.baseurl }}/assets/javascripts/vendor/shariff.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41237864-1', 'railsgirlssummerofcode.org');
  ga('send', 'pageview');
</script>
