<!--
<div class="sidebar-content border">
  <h3>Please donate!</h3>
  <p>In order to make this happen we need your help. Please consider donating:</p>
  <p class="custom-donation">
    <input type="number" id="custom-donation-amount" placeholder="75.00 $" min="0 " step="25.00"/>
    <a href="#" class="donate-button button" data-custom="true" data-name="Custom">
      Donate Now <i class="icon-star-white"></i>
    </a>
  </p>
  <p>Or find out more about <a href="/campaign">our campaign</a>!</p>
</div>
-->

<!-- <div class="sidebar-content border">
  <h3>Apply now!</h3>
  <p>Want to spend your summer coding full time on an Open Source project?</p>
  <p>Read our <a href="/students/application">Application Guide</a> and <a href="http://teams.railsgirlssummerofcode.org/application">apply as a team</a> for a sponsored scholarship. </p>
</div> -->

<div class="sidebar-content border">
  <h3>Become a Sponsor!</h3>
  <p>Without our sponsors Rails Girls Summer of Code would not be possible.</p>
  <p>Sign up for an <a href="/campaign">early bird package</a> so you're already on our page when the campaign opens publicly!</p>
</div>

<div class="sidebar-content">
  <h3>Timeline</h3>
  <ul class="list-redstar list--none">
    <li><span class="fa fa-star color-red"></span> 02.02: Call for projects</li>
    <li><span class="fa fa-star color-red"></span> March: Applications open
    <li><span class="fa fa-star color-red"></span> March: Crowdfunding campaign</li>
    <li><span class="fa fa-star color-red"></span> 01.04: Applications close!</li>
    <li><span class="fa fa-star color-red"></span> 01.05: Acceptance letters</li>
    <li><span class="fa fa-star color-red"></span> 01.07: Kickoff RGSoC 2015!</li>
  </ul>
</div>

<div class="sidebar-content">
  <h3>Help out</h3>
  <p>You can support Rails Girls Summer of Code as a coach, a mentor or as an organizer helping in various areas such as fundraising, editing, working on our sites or helping the students find Open Source projects.</p>
  <p>Interested? <a href="mailto:summer-of-code@railsgirls.com">Get in touch</a>!</p>
</div>

<div class="sidebar-content border newsletter">
  <h3>Our Newsletter</h3>
  <a href="http://railsgirls.us7.list-manage.com/subscribe?u=36677d2ea7383a950d149c68b&id=243f532f22" title="Subscribe to our newsletter" target="_blank" class="button">Subscribe Now! <i class="icon-star-white"></i></a>
</div>
