<div id="header-hidden" class="row header-hidden clearfix">
  <nav class="container clearfix">
    <ul class="col-sm-4">
      <li>About</li>
      <li><a href="/about/team">Team</a></li>
      <li><a href="/about/faq">FAQ</a></li>
      <li><a href="/abut/roles">Roles</a></li>
      <li><a href="/abut/press">Press</a></li>
      <li><a href="/abut/code-of-conduct">Code of Conduct</a></li>
    </ul>
    <ul class="col-sm-4">
      <li>Sponsors</li>
      <li><a href="/sponsors">Sponsors</a></li>
      <li><a href="/sponsors/packages">Sponsorship Packages</a></li>
      <li><a href="/about/sponsorship-guidelines">Sponsorship Guidelines</a></li>
    </ul>
    <ul class="col-sm-4">
      <li>Guides</li>
      <li><a href="/guides/coaching">Coaching</a></li>
      <li><a href="/guides/projects">Project Mentor</a></li>
      <li><a href="/guides/coaching-company">Coaching Company</a></li>
    </ul>
  </nav>
</div>
<div class"row">
  <div class="clearfix container">
    {% if page.layout == 'bootstrap' %}
      <h1 class="logo-small col-xs-5"><a href="/" title="">Rails Girls Summer of Code</a></h1>
    {% endif %}
    <nav class="header-nav col-xs-4 col-xs-offset-3 pull-right">
      <ul class="hor">
        <!-- <li><a href="/about" title="">About</a></li> -->
        <li><a href="/blog" title="">Blog</a></li>
        <li><a href="/guide/projects/" title="">Submit a Project</a></li>
        <li><a href="#" title="" class="button-burger" id="nav-toggle">&equiv;</a></li>
      </ul>
    </nav>
  </div>
</div>
