<div id="header-hidden" class="row header-hidden clearfix">
  <nav class="container clearfix">
    <ul class="col-sm-3">
      <li>RGSoC</li>
      <li><a href="/about/">About</a></li>
      <li><a href="/about/code-of-conduct">CoC</a></li>
      <li><a href="/about/team">Team</a></li>
    </ul>
    <ul class="col-sm-3">
      <li>Get involved</li>
      <li><a href="/guide/coaching-company">Coaching Company</a></li>
      <li><a href="/guide/coaching">Coaches</a></li>
      <li><a href="/guide/projects">Project Mentor</a></li>
      <li><a href="/guide/supervisors">Supervisor</a></li>
    </ul>
    <ul class="col-sm-3">
      <li>Students</li>
      <li><a href="/students/application">Application Guide</a></li>
      <li><a href="/students/todo">Things to do</a></li>
      <li><a href="/students/conferences">Conferences</a></li>
    </ul>

    <ul class="col-sm-3">
      <li>Sponsors</li>
      <li><a href="/sponsors/packages">Sponsorship Packages</a></li>
      <li><a href="/sponsorship-guidelines">Sponsorship Guidelines</a></li>
      <li><a href="/sponsors">2015 Sponsors</a></li>
    </ul>
  </nav>
</div>
<div class"row">
  <div class="clearfix container">
    <h1 class="logo-small col-xs-5"><a href="/" title="">Rails Girls Summer of Code</a></h1>
    <nav class="header-nav col-xs-5 col-xs-offset-2 col-md-3 col-md-offset-4 pull-right">
      <ul class="hor">
        <li><a href="/blog" title="">Blog</a></li>
        <li><a href="/campaign" title="">Donate Now!</a></li>
        <li><a href="#" title="" class="button-burger" id="nav-toggle"><i class="fa fa-bars"></i><i class="fa fa-close"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
