<div class='pagination'>
  <span class='page'>Page: <span class='current-page'>1</span><span>/</span><span class='last-page'></span></span>
  <span class='sep'>&middot;</span>
  <span class='first'>First</span>
  <a class='first' href='#'>First</a>
  <span class='sep'>&middot;</span>
  <span class='previous'>Previous</span>
  <a class='previous' href='#'>Previous</a>
  <span class='sep'>&middot;</span>
  <span class='next'>Next</span>
  <a class='next' href='#'>Next</a>
  <span class='sep'>&middot;</span>
  <span class='last'>Last</span>
  <a class='last' href='#'>Last</a>
  <span class='sep'>&middot;</span>
  <a class='all' href='#'>See all</a>
  <a class='paged' href='#'>See less</a>
</div>
