<form id="stripe-form" method="post" action="https://campaign.railsgirlssummerofcode.org/donations/checkout">
  <input type=hidden name=stripe_card_token />
  <input type=hidden name=amount />
  <input type=hidden name=package />
</form>

<ul class="donation-plans" id="sponsoring">
  <li>
    <strong>Bronze - 1,000 USD</strong>
    <p>
      Your logo on our website, lots of tweet love from the community.
    </p>
    <a href="#" class="donate-button button" data-amount="1000" data-name="Bronze">Become a Sponsor</a>
  </li>
  <li>
    <strong>Silver - 2,500 USD</strong>
    <p>
      Same as Bronze, but with a bigger logo and your testimonial in the press kit.
    </p>
    <a href="#" class="donate-button button" data-amount="2500" data-name="Silver">Become a Sponsor</a>
  </li>
  <li>
    <strong>Gold - 5,000 USD</strong>
    <p>
      Same as Silver. Plus: your logo in presentations about Rails Girls Summer of Code.
    </p>
    <a href="#" class="donate-button button" data-amount="5000" data-name="Gold">Become a Sponsor</a>
  </li>
  <li>
    <strong>Platinum - 10,000 USD</strong>
    <p>
      Same as Gold. And <a href="http://github.com/rkh">Konstan- tin</a><sup>1</sup> wears your T-shirt at a conference & explains why.
    </p>
    <a href="#" class="donate-button button" data-amount="10000" data-name="Platinum">Become a Sponsor</a>
  </li>
</ul>

<p class="stripe-note"><small>Secure Payments by Stripe Checkout</small></p>

<p>For bigger packages please <a href="mailto:summer-of-code@railsgirls.com">get in touch</a>!

<p class="footnote"><sup>1</sup> <a href="http://github.com/rkh">Konstantin Haase</a>: Travis CI core member, Sinatra maintainer and Ruby Hero 2012, speaks at many <a href="http://lanyrd.com/profile/konstantinhaase/">conferences</a></p>

