
<h4 class="color-red">We train new programmers and bring diversity to Tech</h4>

Our students come from diverse backgrounds like Archaeology, Product Management, Arts, HR, Data Science, Computer Science and Pharmaceutical Industry. The most amazing thing is to know that over 90% of them are now working in Tech and 8% have founded their own startups.

<h4 class="color-red">We contribute to Open Source Projects</h4>

In the last three programs we have contributed to 39 Open Source Projects, such as Bundler, Rails, Discourse, Sinatra, Diaspora, impress.js, Hackety Hack, Hoodie, Speakerinnen, Lotus (now Hanami) and Conductor.

<h4 class="color-red">We thrive because of our Community</h4>

RGSoC sees a huge amount of publicity from our student teams, coaches and
organizers: be it on Twitter, Facebook, blogs or at conferences and local developers meet ups. It’s a great blend of marketing, and genuinely contributing to the development community.
