
<h3 style="color: #D82222; font-size: 22px">We train new programmers and bring diversity to Tech</h3>

Our students come from diverse backgrounds like Archaeology, Product Management, Arts, HR, Data Science, Computer Science and Pharmaceutical Industry. The most amazing thing is to know that over 90% of them are now working in Tech and 8% have founded their own startups.

<h3 style="color: #D82222; font-size: 22px">We contribute to Open Source Projects</h3>

In the last three programs we have contributed to 39 Open Source Projects projects, such as Bundler, Rails, Discourse, Sinatra, Diaspora, impress.js, Hackety Hack, Hoodie, Speakerinnen, Lotus (now Hanami) and Conductor.

<h3 style="color: #D82222; font-size: 22px">We thrive because of our Community</h3>

RGSoC sees a huge amount of publicity from our student teams, coaches and
organizers: be it on Twitter, Facebook, blogs or at conferences and local developers meet ups. It’s a great blend of marketing, and genuinely contributing to the development community.
