<ul id="sponsor-packages">
  <li>
    <h4>Trailblazer: 5000 USD</h4>
    <a href="#" class="donate-button button" data-amount="5000" data-name="Trailblazer">Become a Sponsor</a>
  </li>
  <li>
    <h4>Pioneer: 2500 USD</h4>
    <a href="#" class="donate-button button" data-amount="2500" data-name="Pioneer">Become a Sponsor</a>
  </li>
  <li>
    <h4>Innovator: 1000 USD</h4>
    <a href="#" class="donate-button button" data-amount="1000" data-name="Innovator">Become a Sponsor</a>
  </li>
</ul>

<p class="stripe-note">
  <small>Secure Payments by <a href="https://stripe.com/blog/stripe-checkout">Stripe Checkout</a></small>
</p>
