<h3 id="sponsors">Sponsors</h3>
<ul>
{% for package in site.data.packages %}
  <li class="sponsors {{ package.name | downcase }}">
    <h4>{{ package.name }}</h4>
    <ul>
    {% for sponsor in package.sponsors %}
      {% capture classes %}{% if sponsor.partner %}{{ sponsor.id }} badge partner{% else %}{{ sponsor.id }}{% endif %}{% endcapture %}
      <li>
        <a href="{{ sponsor.url }}" class="{{ classes }}">
          <ul class="years">
            {% for year in sponsor.years %}
              <li class="year" title="Sponsor in {{ year }}"><i class="fa fa-star"></i></li>
            {% endfor %}
          </ul>
        </a>
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
<p>Note: the stars on the logos represent the number of RGSoC editions supported by the sponsor</p>
</ul>
