    <table style="border-style: solid;  border-width: 2px; border-color: #000000; background-color: #FFFFFF">
      <tr>
        <th>Benefit</th>
        <th>Innovator</th>
        <th>Pioneer</th>
        <th>Trailblazer</th>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9" style="width: 600px;">Knowing you’re making a real difference to people’s lives and the tech community</td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td>Lots of tweet love from RGSoC and project teams</td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9">Social media mentions by RGSoC and our friends at <a href="https://foundation.travis-ci.org/">Travis Foundation</a> when your sponsorship is confirmed</td>
        <td bgcolor="#F9F9F9"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td>Plenty of social media noise and recognition among the extensive community of our program partner, <a href="https://travis-ci.com/">Travis CI</a></td>
        <td></td>
        <td></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9">Your logo in the footer of our <a href="/">homepage</a></td>
        <td bgcolor="#F9F9F9" align="center"><b>small</b></td>
        <td bgcolor="#F9F9F9" align="center"><b>medium</b></td>
        <td bgcolor="#F9F9F9" align="center"><b>large</b></td>
      </tr>
      <tr>
        <td>Listing on the RGSoC <a href="/sponsors">sponsors page</a> (linked to frequently in communication)</td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9">Your stickers and other small swag sent out to all students</td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td>All your swag included in support packages sent to Students (e.g. t-shirts, mugs, tote bags, notepads)</td>
        <td></td>
        <td></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9">Presentation of your company sent to participants in our <i>Sponsor Opportunity Newsletter</i></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td>Your testimonial in our press kit</td>
        <td></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9">Your logo included in our <a href="https://speakerdeck.com/alicetragedy/rgsoc-2018-sponsor-pitch">Pitch Deck</a></td>
        <td bgcolor="#F9F9F9"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
        <td bgcolor="#F9F9F9" align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-grey-500x500.png" style="width:40px;height:40;"></td>
      </tr>
      <tr>
        <td>Your logo pride of place in presentations about RGSoC (alongside our Partners)</td>
        <td></td>
        <td></td>
        <td align="center"><img src="https://raw.githubusercontent.com/rails-girls-summer-of-code/summer-of-code/gh-pages/img/logo/rgsoc-logo-rainbow-500x500.png" style="width:40px;height:40;"></td>
      </tr>
    </table>
    <style>
    td {
        border: 1px solid black;
    }
    </style>


