
<h4 class="color-red">We train new programmers and bring diversity to Tech</h4>

Our students come from diverse backgrounds like archaeology, product management, the arts, HR, data science, computer science or the pharmaceutical industry. The most amazing thing is to know that over 90% of them are now working in tech and 8% have founded their own startups.


<h4 class="color-red">We contribute to Open Source Projects</h4>

Over the years, we have contributed to more than 60 Open Source projects, such as Bundler, Rails, Discourse, Sinatra, Diaspora, impress.js, Hackety Hack, Hoodie, Speakerinnen, Lotus (now Hanami) and Conductor.

<h4 class="color-red">We thrive because of our Community</h4>

RGSoC sees a huge amount of publicity from our student teams, coaches and organizers: be it on Twitter, Facebook, blogs or at conferences and local developer meetups.

