<aside class="sidebar">
    <div class="related">
        <h3>See also</h3>
        <ul>
            <li><a href="/students"      title="Students"                   {% if page.url == '/students/'      %}class="current"{% endif %}>Students</a></li>
            <li><a href="/things-to-do"  title="Things to do"               {% if page.url == '/things-to-do/'  %}class="current"{% endif %}>Things to do</a></li>
            <li><a href="/team-log"      title="Team Log"                   {% if page.url == '/team-log/'      %}class="current"{% endif %}>Team Log</a></li>
            <li><a href="/tools"         title="Tools"                      {% if page.url == '/tools/'         %}class="current"{% endif %}>Tools</a></li>
            <li><a href="/find-coaches"  title="How to find coaches"        {% if page.url == '/find-coaches/'  %}class="current"{% endif %}>How to find coaches</a></li>
            <li><a href="/find-projects" title="How to find projects"       {% if page.url == '/find-projects/' %}class="current"{% endif %}>How to find projects</a></li>
            <li><a href="/projects"      title="How to submit your project" {% if page.url == '/projects/'      %}class="current"{% endif %}>Submit your project</a></li>
        </ul>
    </div>
    <div class="scribble7"></div>
</aside>

