---
layout: page
title: Press
class: page page-projects
current: press
permalink: /about/press/
links:
  - icon: file-text-o
    title: Press Releases
    href: press-releases
  - icon: pencil-square-o
    title: Logos
    href: logos
  - icon: camera
    title: Images
    href: images
  - icon: video-camera
    title: Videos
    href: videos
  - icon: quote-right
    title: Quotes
    href: quotes
  - icon: newspaper-o
    title: Articles
    href: articles

logos:
  - image_path: /img/press/section-logos/rgsoc-logo_white-red-background
    title: White logo with red background
    extension: png
  - image_path: /img/press/section-logos/rgsoc-logo_red-transparent-background
    title: Red logo with transparent background
    extension: png
  - image_path: /img/press/section-logos/rgsoc-logo_bw-transparent-background
    title: Black and white logo with transparent background
    extension: png
  - image_path: /img/press/section-logos/rgsoc-logo_white-red-background-square
    title: White logo with red background - square
    extension: png
  - image_path: /img/press/section-logos/rgsoc-logo_red-transparent-background-square
    title: Red logo with transparent background -square
    extension: png
  - image_path: /img/press/section-logos/rgsoc-logo_bw-transparent-background-square
    title: Black and white logo with transparent background -square
    extension: png

images:
  - image_path: /img/press/section-images/rgsoc-2016-reactives-team-coaches-01-singapore-sg
    title: Team Reactives
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-rubys-secret-team-coaches-cairo-eg
    title: Team Ruby's Secret
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-joda-team-coaches-03-berlin-de
    title: Team Joda
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-echo-team-kampala-ug
    title: Team Echo
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-jam-team-portland-us
    title: Team JaM
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-twitches-team-coaches-new-delhi-in
    title: Team Twitches
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-rookies-team02-helsinki.fi
    title: Team Rookies
    extension: png
  - image_path: /img/press/section-images/rgsoc-2016-hackbrighters-team-sanfrancisco-us
    title: Team Hackbrighters
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2015-tessie-team-vienna-at
    title: Team Tessie
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2015-rubynbugs-team-berlin-de
    title: Team RubyNBugs
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2015-hackrgirls-team-cochin-in
    title: Team Hackrgirls
    extension: png
  - image_path: /img/press/section-images/rgsoc-2015-deltaquadrant-team-coaches-berlin-de
    title: Team DeltaQuadrant
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2015-cheesy-amsterdam-nl
    title: Team Cheesy
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-perifericas-team-coaches-salvador-br
    title: Team Perifericas
    extension: jpg
  - image_path: /img/press/section-images/rgsoc-2016-xyz-team-coaches-prague-cz
    title: Team XYZ
    extension: jpg
---
      <h1>{{page.title}}</h1>
      <h3>About Rails Girls Summer of Code</h3>
      <p>
      Rails Girls Summer of Code is a scholarship that funds women around the world to work full-time over the summer on open-source software projects. Modelled after Google Summer of Code, but with a focus on beginners and women wanting to go into programming full-time, Rails Girls Summer of Code aims to get women involved in open-source and is the first ever event of its kind in the world.
      </p>

      <p>
      Since 2013, over 580 women all over the world have applied and up to this date, RGSoC has supported 146 students — with a total of 51 sponsored teams and 24 volunteering teams. Recently, a survey conducted by RGSoC revealed that 90% of the students are still working in tech and 8% have founded their startups. 55% of those students still regularly contribute to Open Source projects.
      </p>

      <p>
      In 2016, over 90 teams applied for the program, almost doubling RGSoC 2015’s record! A total of <a href="https://teams.railsgirlssummerofcode.org/projects">44 Open Source projects</a> were accepted for this edition and <a href="http://railsgirlssummerofcode.org/blog/2016-07-01-RGSoC-2016-day-one">20 teams and projects</a> were selected in the beginning of June. You can learn more about the 16 sponsored teams and the 4 volunteering teams <a href="http://railsgirlssummerofcode.org/blog/2016-08-29-students-2016">here</a>. 
      </p>

      <p>
      Contributing to Open Source Projects is at the <a href="http://foundation.travis-ci.org/2016/08/19/rgsoc/">core of RGSoC</a> and during the past 3 editions, RGSoC students have contributed to an overall of 39 Open Source projects, like Bundler, Rails, Discourse, Sinatra, Diaspora, impress.js, Hackety Hack, Hoodie, Speakerinnen, Lotus (now Hanami) and Conductor. This is a very important factor, as only 11% of Open Source Projects are women.
      </p>

      <p>
      Since its inception, RGSoC has been supported by companies like Travis CI, GitHub, Google, GitLab, Envato, Basecamp and SoundCloud, to name a few. At the same time, thousands of people have backed this initiative individually. This year, RGSoC raised 117,425 USD and in order to thank everyone who has contributed to the program, RGSoC launched the <a href="http://railsgirlssummerofcode.org/blog/2016-04-22-thank-you-lets-diversify-tech">#diversifytech</a> campaign. As this year's Summer-of-Code started, the <a href="http://railsgirlssummerofcode.org/blog/2016-07-01-RGSoC-2016-day-one">fundraising campaign for RGSoC 2016 closed </a> and any donations received will be used on RGSoC 2017.
      </p>

      <br>
      <h4>RGSoC 2017 Calendar</h4>

      <p>
      The program runs from July 1st and ends September 30th, however there are several phases of the program that run throughout the year. Below is this year’s calendar:
      </p>

      <ul class="list--none">
        <li><strong>20 Nov–21 Jan:</strong> Call for Projects</li>
        <li><strong>TBA:</strong> Crowdfunding opens</li>
        <li><strong>01 Feb:</strong> Applications open</li>
        <li><strong>01 Mar:</strong> Applications close</li>
        <li><strong>01 May:</strong> Acceptance letters</li>
        <li><strong>01 Jul:</strong> Kickoff RGSoC 2016!</li>
        <li><strong>30 Sep:</strong> Last day of RGSoC 2016</li>
      </ul>


      <br>
      <h3>Interview Opportunities</h3>
      <p>
      The Rails Girls Summer of Code community is home to dozens of students, coaches, developers and sponsors dedicated to the Rails Girls mission of making technology more approachable for girls and women. Contact us to discuss a variety of topics, including:
      </p>

      <ul>
        <li>Women in Technology, especially computer programming</li>
        <li>The Open Education Movement</li>
        <li>Informal Education and Coaching</li>
        <li>Open Source Software</li>
        <li>The Rails Girls Community</li>
      </ul>

      <br>
      <h3>Contact</h3>
      <p>For press inquiries, send us an email to <a href="mailto:contact@rgsoc.com">contact@rgsoc.com</a>.</p>

      <br>
      <h2>Press Releases and Media</h2>

      <br>
      <div class="row text-center">
        {% for link in page.links %}
          <a href="#{{ link.href }}" class="col-xs-2" style="font-size: 16px">
            <i class="fa fa-{{ link.icon }}" style="font-size: 25px"></i><br>{{ link.title }}
          </a>
        {% endfor %}
      </div>

      <br>
      <p>In the following sections, we gathered a selection of resources such as press releases, logos, images, videos, quotes and some of the articles written about the program. Please feel free to use them.</p>
      <p>You can also find a copy of the entire press kit <a href="https://www.dropbox.com/sh/ng9p8d5hba425ht/AAB18_F_NZzX_UlQL8LB1caMa?dl=0" target="_blank">here</a>.</p>

      <br>
      <h3 id="press-releases">Press Releases</h3>

      <p>
        <i>
          <b>The Fourth Edition of Rails Girls Summer of Code Ends Welcoming Another 40 Women* to Software Development</b>
          <br>
          (download version in
          <a href="https://www.dropbox.com/s/40eyur74btppyj6/Fourth%20Edition%20of%20Rails%20Girls%20Summer%20of%20Code%20Ends.pdf?dl=0" target="_blank">.pdf</a> or 
          <a href="https://www.dropbox.com/s/0t6gmnue2k415y3/Fourth%20Edition%20of%20Rails%20Girls%20Summer%20of%20Code%20Ends.txt?dl=0" target="_blank">.txt</a>)
        </i>
      </p> 

      <p>
        <i>
          <b>Rails Girls Summer of Code Kicks-Off its 4th edition with 20 teams from 11 countries </b>
          <br>
          (download version in
          <a href="https://www.dropbox.com/s/xp55d4hg73rlfn2/RGSoC2016Kicks-Off.pdf?dl=0" target="_blank">.pdf</a> or 
          <a href="https://www.dropbox.com/s/r2whcuni5f4bm3q/RGSoC2016Kicks-Off.txt?dl=0" target="_blank">.txt</a>)
        </i>
      </p> 

      <p>
        <i>
        <b>Rails Girls Summer of Code raises over 115,000 USD to fund students all over the world </b>
        <br>
        (download version in
          <a href="https://www.dropbox.com/s/civqbyv79tsocyd/RGSoCraisesover100000USDtofundstudentsallovertheworld.pdf?dl=0" target="_blank">.pdf</a> or 
          <a href="https://www.dropbox.com/s/2mvnhiyc8gomdea/RGSoCraisesover100000USDtofundstudentsallovertheworld.txt?dl=0" target="_blank">.txt</a>)
        </i>
      </p>

      <p>
        <i>
          <b>Rails Girls Summer of Code: Ruby Hero Award winners </b>
          <br>
          (download version in
            <a href="https://www.dropbox.com/s/1x31c6204w7htuk/RGSoC%20Ruby%20Hero%20Award%202016%20winners.pdf?dl=0" target="_blank">.pdf</a> or 
            <a href="https://www.dropbox.com/s/c5vb8pqaug83rzu/RGSoC%20Ruby%20Hero%20Award%202016%20winners.txt?dl=0" target="_blank">.txt</a>)
        </i>
      </p> 

      <p>
        <i>
          <b>Rails Girls Summer of Code: survey shows 90% of their students are still working in tech </b>
          <br>
          (download version in
            <a href="https://www.dropbox.com/s/bxrytmubft31w4u/RGSoC%20survey%20shows%2090%20of%20their%20students%20are%20still%20working%20in%20tech.pdf?dl=0" target="_blank">.pdf</a> or 
            <a href="https://www.dropbox.com/s/66sp4ihozk9r5u1/RGSoC%20survey%20shows%2090%20of%20their%20students%20are%20still%20working%20in%20tech.txt?dl=0" target="_blank">.txt</a>)
        </i>      
      </p>

      <p>
        <i>
          <b>Rails Girls Summer of Code: The first “Summer of Code” for women is launched </b>
          <br>
          (download version in
            <a href="https://www.dropbox.com/s/rmlta81q9cyo376/RGSoC-%20The%20first%20%E2%80%9CSummer%20of%20Code%E2%80%9D%20for%20women%20is%20launched.pdf?dl=0" target="_blank">.pdf</a> or 
            <a href="https://www.dropbox.com/s/vfw1iiejydnxhem/RGSoC-%20The%20first%20%E2%80%9CSummer%20of%20Code%E2%80%9D%20for%20women%20is%20launched.txt?dl=0" target="_blank">.txt</a>)
        </i>
      </p>

      <br>
      <h3 id="logos">Logos</h3>

      <p>Here are some versions of our logo, they can also be found in <a href="https://www.dropbox.com/sh/ng9p8d5hba425ht/AAB18_F_NZzX_UlQL8LB1caMa?dl=0" target="_blank">this folder</a>, together with the vectorial version of all the logos.</p>

      <ul class="photo-gallery">
        {% for image in page.logos %}
          <li style="background-image:url({{ image.image_path }}-thumb.{{ image.extension }})">
            <a href="{{ image.image_path }}.{{ image.extension }}" target="_blank">
              <img src="{{ image.image_path }}-thumb.{{ image.extension }}" alt="{{ image.title}}"/>
            </a>
          </li>
        {% endfor %}
      </ul>

      <br>
      <h3 id="images">Images</h3>

      <p>Below are samples from teams of the Rails Girls Summer of Code during 2015 and 2016. There are many more, as well as other images, maps and illustrations, in our Press Kit <a href="https://www.dropbox.com/sh/ng9p8d5hba425ht/AAB18_F_NZzX_UlQL8LB1caMa?dl=0" target="_blank">here</a>.</p>

      <ul class="photo-gallery">
        {% for image in page.images %}
          <li style="background-image:url({{ image.image_path }}-thumb.{{ image.extension }})">
            <a href="{{ image.image_path }}.{{ image.extension }}" target="_blank">
              <img src="{{ image.image_path }}-thumb.{{ image.extension }}" alt="{{ image.title}}"/>
            </a>
          </li>
        {% endfor %}
      </ul>

      <p class="text-center">
        <a href="https://www.dropbox.com/sh/3dbhxln5sg0c278/AAASN_aFhQDtUyFDHuyQb_qUa?dl=0" target="_blank">More images...</a>
      </p>

      <br>
      <h3 id="videos">Videos</h3>

      <p>A selection of RGSoC's videos and talks done by people who were part of the program.</p>

      <iframe src="https://player.vimeo.com/video/185049421" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>
        <a href="https://vimeo.com/185049421">RGSoC 2016!</a> from <a href="https://vimeo.com/user51331690">Rails Girls Summer of Code</a> on <a href="https://vimeo.com">Vimeo
        </a>.
      </p>
      
      <br>
      <h4>RGSoC's videos</h4>

      <p>
        <a href="https://vimeo.com/185049421" target="_blank">RGSoC 2016!</a> (Ana Sofia Pinho)
      </p>

      <p>
        <a href="https://vimeo.com/165873143" target="_blank">RGSoC Receives RubyHero Award 2016</a> (Confreaks)
      </p>

      <p>
        <a href="https://vimeo.com/163780646" target="_blank">2016's Campaign "Thank you! \o/ Let’s #diversifytech!"</a> (Ana Sofia Pinho)
      </p>

      <p>
        <a href="https://vimeo.com/67004430" target="_blank">Rails Girls Summer of Code 2013 Intro Video</a> (Alexander Lang)
      </p>

      <br>
      <h4>Talks about RGSoC</h4>

      <p>
        <a href="https://www.youtube.com/watch?v=rYtl9xiV0hU" target="_blank">Pilar Huidobro's talk "The Mythical Creatures of Summer of Code"</a> (RuhrJS 2016)
      </p>

      <p>
        <a href="https://www.youtube.com/watch?v=WtnXUcBNgNE" target="_blank">Anika Lindtner's talk "How to Fix Your Community in One Day"</a> (OTSConf 2015)
        </a>
      <p/>

      <br>
      <h3 id="quotes">What they say about us</h3>

      <br>
      <h4>Students</h4>

      <p>
        <i>
          “I can’t stress enough the value of the experience working on a real project with real users. RGSoC is a great way to get that experience which universities don’t really teach that well. I learned to use relevant tools in a team environment and what a workflow can look like. Those are valuable experiences that help me in the internship I do today.”
        </i>
        <br>
        <b>Emma Koszinowski, RGSoC 2015 Team CocoaGems (USA)</b>
      </p>

      <p>
        <i>
          “A very nice part of Rails Girls Summer of Code was that they handled free tickets to conferences. This is how I got to go to ArrrrCamp in Gent, Belgium and give a talk. That was a way to spread the knowledge about RGSoC and at the same time, a call to organize Rails Girls Brussels since I could find no girl to form a team. By the end of the conference, I had a bunch of developers interested to help and coach and also I was introduced to my current company :) so, tl;dr life changing!”
        </i>
        <br>
        <b>Oana Sipos, RGSoC 2013 Alumna (USA)</b>
      </p>

      <p>
        <i>
          “Without RGSoC, it could be quite difficult to dive into real world of IT. While writing this post, we realized once again that many great people helped us come this far. One day, we hope that we can also be that person who helps others to open up more opportunities and broaden their horizons. Thank you for providing us this wonderful chance to be part of RGSoC. RGSoC made this summer very special to us.Happy Summer & happy coding!”
        </i>
        <br>
        <b>Heysoo and Tehetena, RGSoC 2016 Team Rookies (Finland)</b>
      </p>

      <p>
        <i>
          “We could not have gotten this far without the support of our beloved coaches, mentors, supervisors, and the community! At the beginning we had a difficult time figuring out exactly where to start. Our coaches and supervisors were incredibly supportive and helped us solidify a plan. With everything going on in our lives, believing in our success and ability to persevere keeps us going through the hard times, and pushed us through the application process.”
        </i>
        <br>
        <b>Ore and Ashley, RGSoC 2016 Team B'More Stunners (USA)</b>
      </p>

      <p>
        <i>
          “We first met at Raul Hackerspace, where we are active members. We both care about diversity and, at RaulHC, we organized some hack nights to promote diversity and now we’re living this amazing experience with other 19 teams around the world. When we received the news that we would be the first team from Brazil participating on the RGSoC, wowww. We just want to say how grateful we are for this great opportunity.”
        </i>
        <br>
        <b>Emma and Geisa, RGSoC 2016 Team Perifericas (Brasil)</b>
      </p>

      <p>
        <i>
          “From the moment we heard about RGSoC, we knew we wanted to be a part of it. It wasn't just about learning coding — it was about building a community and learning how to ask for help. OpenFarm as well as our mentors helped us learn to be happy while also struggling and most importantly, to never give up.”
        </i>
        <br>
        <b>Taneea and Vrinda, RGSoC 2016 Team Twitches (India)</b>
      </p>

      <p>
        <i>
          “How Rails Girls Summer Of Code helps us to learn to code is that it is not just about learning code, it’s about having best practices such as daily standups, test driven development, well maintained code, and elegant solutions. Culture Amp have helped us jumpstart our career in software development by challenging us to ask the right questions in order to get the answers we need, and to learn how to find essential information. Their lunchtime Brown Bag sessions on tech topics such as Github and Docker have given us real world education in issues that affect them. We’ve also noticed that our open source contribution graphs on Github are so much greener! It’s been a great opportunity for networking and meeting people within the company, and finding out about the culture of a company that cares greatly about what culture is.”
        </i>
        <br>
        <b>Ramya and Kylie, RGSoC 2016 Team Vegemite (Australia)</b>
      </p>

      <p>
        <i>
          “We can’t express enough gratitude towards our amazing mentor, coaches and supervisor throughout this program. We learned technical skills, project management and inter-personal communication, made new friends and honed our character. The lessons about appreciation of one another, timely and transparent communication will remain our key takeaways regardless of our career in the future.
          We really hope that RGSoC and other similar programs will multiply and widen their impact all over the world. Inspirational women and supportive men from these initiatives will continue to advocate for more inclusive and fair education and job opportunities in tech industries.”
        </i>
        <br>
        <b>Tu An and Shwetha, RGSoC 2016 Team Reactives (Singapore, SG)</b>
      </p>

       <p>
        <i>
          “We are so glad to be a part of Rails Girls Summer of Code’16 and Open Source itself and really hope this journey doesn’t end with the Summer. We wish to contribute to the community as much as we can!”
        </i>
        <br>
        <b>Mansi and Sahar, RGSoC 2016 Team Fedex++ (India)</b>
      </p>

      <br>
      <h4>Organizers</h4>

      <p>
        <i>
          “We’re in our fourth year now, and as a community initiative, RGSoC has been organised by lots of people. All in all, every year we have over 100 volunteers working on the program: This includes organisers and developers, project mentors and coaches, who all work tirelessly in their free time to make our community a better place; some of them year after year. This initiative works because of the people — and only because of them.”
        </i>
        <br>
        <b>Anika Lindner, Core Organizer (Germany)</b>
      </p>

      <p>
        <i>
          “Ideas in the programming community can be found everywhere; that’s why we love being a part of it. The idea of an international scholarship program for women to contribute to Open Source for the summer came up at a 2013 Rails Girls meetup and could have been just a fleeting dream – but was actually turned into a reality that has now helped jumpstart the careers of over 95 developers.”
        </i>
        <br>
        <b>Laura Gaetano, Core Organizer (Austria)</b>
      </p>

      <p>
        <i>
          “It is amazing to see how many RGSoC alumni are now contributing to the project’s success as supervisors, coaches, and even project mentors – it is great to see that former students want to give back! And especially our alumni in the very code-centric coach- and mentor roles are a living testomony that we really do change the face of Open Source.”
        </i>
        <br>
        <b>Carsten Zimmermann, Core Organizer (Germany)</b>
      </p>

      <p>
        <i>
          “Rails Girls Summer of Code changes the tech community more than one can assume at first glance. Women and gender fluid students learning new things and getting their foot in the door are only the tip of the iceberg. This program also alters mindsets of people around, setting new standards of how the tech community should look. Year by year, we spread the idea of diversifying tech to make today's diversity challenges build up tomorrow's new reality where diversity is just a normal and usual state of things. This is what we aim for.”
        </i>
        <br>
        <b>Maria Ronacher, Core Organizer</b>
      </p>

      <p>
        <i>
          “In the beginning, many students mention how scared they are, hopefully waiting for that one day when they will feel confident about their work. RGSoC allows them to gain more confidence. RGSoC is the amazing group of people that is just there for them. We create the conditions, but we also encourage, push and challenge them. RGSoC is not just about improving diversity statistics, it’s about welcoming and supporting newcomers into tech in the best way possible.”
        </i>
        <br>
        <b>Ana Sofia Pinho, Core Organizer</b>
      </p>
      

      <br>
      <h4>Coaches, Mentors and Supervisors</h4>

      <p>
        <i>
          “Diversity is a huge issue in technical teams - women are generally underrepresented, particularly in engineering roles. Our research shows that more diverse teams not only perform better, but are more inclusive and generally nicer places to work. In our own teams, we are very conscious of what we can do to create an inclusive work environment for everybody, and we also carry out research into diversity and inclusion across other companies. It’s a really important issue for us, and one that we actively work on!"
        </i>
        <br>
        <b>Jo Cranford, Culture Amp (Australia)</b>
      </p>

      <p>
        <i>
          “I got involved, because I believe that the program empowers women in a field that is both exciting and scary, and because I would have benefited from this kind of support myself 10 years ago.”
        </i>
        <br>
        <b>Alexandra Leisse, Supervisor (Germany)</b>
      </p>

      <p>
        <i>
          “I was instantly bought over by the love and dedication coming from the community and organisers. It only made sense to join in the moment it was possible for me to do so."
        </i>
        <br>
        <b>Ramón Huidobro, Coach, Supervisor and Mentor (Austria)</b>
      </p>

      <p>
        <i>
           “Over my 5-year career in tech, I have helped organise four Rails Girls workshops but this was my first time as a coach for RGSoC. Being connected with the Rails Girls Organisation has been, by far, one of the most rewarding experiences of my life, to be able to give back to the tech community that has given me so much. We all talk, debate, complain about the lack of women in tech, but very few actually get up and do something about. Cheers to RGSoC for encouraging young women so, and letting people like me do our bit to help.”
        </i>
        <br>
        <b>Isha Tripathi, Coach</b>
      </p>

      <p>
        <i>
           “Everybody who holds some professional knowledge has the responsibility of "giving back" — an axiom of education. For me, personally, contributing to RGSoC, i.e. by coaching, is an opportunity of doing so and share knowledge I gathered since I started thinking about computer programs. And it's not a one-way motorway: The process of coaching/teaching is highly omnidirectional. Increasing knowledge of students is the most visible part, but it also holds a mirror to the people teaching. It triggers fruitful discussions and lets new ideas emerge. It implicitly lets the coaches reflect, question and sharpen their methods and techniques every time again.”
        </i>
        <br>
        <b>Robin Neumann, Coach</b>
      </p>

      <p>
        <i>
           “I was a student during Rails Girls Summer of Code 2015 and had an even better time than I’d hoped when I applied — it was amazing to find myself surrounded by so many supportive, motivated and helpful people all over the globe, as coaches, mentors, fellow students or just friendly people who were happy to help. So this year, I was very happy to participate again, this time as a supervisor — both because I wanted to pass on some of the help I received last year by helping another team have a great summer, and because I wanted to continue being part of this wonderful community! What I really enjoy about RGSoC is that it encourages everyone, no matter their level of knowledge or role, to get out there and do their best — to go from curiosity to real coding, to get involved, pass on knowledge, ignore imposter syndrome and jump right in.”
        </i>
        <br>
        <b>Anke Schiffels, Supervisor and RGSoC 2015 Alumna</b>
      </p>

      <p>
        <i>
           “It’s important to actively help create the community we want to be a part of. RGSoC provides an opportunity to grow the heart of the open-source culture, spreading a open and learning spirit in the minds of passionate people who are driven to create beautiful things with their thoughts and fingertips. It’s wonderful to meet and work with such people and the open source community will be a better place with them in it."
        </i>
        <br>
        <b>Joseph Wilk, Poetic Computation Mentor/Project Maintainer</b>
      </p>

      <br>
      <h4>Sponsors</h4>

      <p>
        <i>
          "Rails Girls Summer of Code is a concrete initiative to get more women coding professionally. 140 applicants means 140 potential women software engineers entering our industry. That’s 140 new and different perspectives to tackling engineering challenges. And 140 more role models for women in technology. We can’t wait!"
        </i>
        <br>
        <b>Duana Stanley, Soundcloud (Germany)</b>
      </p>

      <p>
        <i>
          “We are constantly working on increasing our female quota and believe that projects like RG SoC do great in supporting women to start coding, bringing technology to more people and even more women into tech jobs.”
        </i>
        <br>
        <b>Maike Kronenberg, Wooga</b>
      </p>

      <p>
        <i>
          “The open-source community relies on a small number of individuals to power the work and businesses of thousands. Getting more great developers involved in the hard projects is critical to everyone's success. I can't wait to see what kind of progress the RailsGirls SoC participants can make in building features and solving problems the rest of us are scared of!"
        </i>
        <br>
        <b>Jeff Casimir, Jumpstartlab (USA)</b>
      </p>

      <p>
        <i>
          “At Groupon we have groups like Women in Engineering and Employee Resource Groups like Women@Groupon and Pride@Groupon because we want to foster diversity at work, especially in the Tech Scene. Having heard great things about the Ruby Community and Rails Girls, we felt that this RG SoC initiative was one that aligned with our own core values and one that would definitely going to help increase the women and diversity quota in IT. We want to further encourage such projects and show women that there is lots of support for them! Keep up the great work and happy to support dreams coming true!”
        </i>
        <br>
        <b>Sebastian Dietrich, Groupon (Germany)</b>
      </p>

      <p>
        <i>
          "Improving diversity in the technology industry is of paramount concern. We've been proud supporters of the Rails Girls Summer of Code program and are thrilled with their impact since the program's genesis."
        </i>
        <br>
        <b>Jesse Proudman, IBM DE and CTO of IBM Blue Box</b>
      </p>

      <p>
        <i>
          “innoQ is a consulting/software development firm with a focus on technology and architecture. We’ve been doing Rails development since 2007. The Rails Girls Summer of Code program has a proven track record of enabling its participants to contribute to Open Source projects and start a career in software development. This is why we are supporting the Rails Girls Summer of Code. We want to help increase the number of women who consider a career in tech and foster their chances to achieve this goal.”
        </i>
        <br>
        <b>Claudia Rauch, innoQ</b>
      </p>

      <p>
        <i>
          “At SUSE, we embrace a diverse workforce. What matters for us is that Open Source is in your DNA. The Rails Girls Summer of Code is a great way to support young talent to become the next generation of engineers. We are delighted to support a project that allows this group of talented young women starting their journey in Open Source.”
        </i>
        <br>
        <b>Christian Bruckmayer, OpenSUSE</b>
      </p>

      <br>
      <h4>Coaching Companies</h4>

      <p>
        <i>
          “RGSoC is a way for us to address diversity issues in our industry, contribute to open source and sharpen our mentoring skills-but the biggest reward is seeing how people from such different backgrounds can thrive in code and help us forge a more inclusive and diverse tech culture.”
        </i>
        <br>
        <b>Duana Stanley, Soundcloud (Germany)</b>
      </p>

      <p>
        <i>
          “Supporting the RGSoC defines why we set up The Innovation Village as a destination of ideas. Supporting RGSoC becomes a perfect opportunity for us to collaborate globally with partners who have significant experience that we can customize locally as we give an opportunity to brilliant girls to bless the world with their ingenuity.
        </i>
        <br>
        <b>Japheth Kawanguzi, Innovation Village (Uganda)</b>
      </p>
      
      <p>
        <i>
          “Rebased is super happy to be an RGSoC coaching company for the third year running; we strongly believe in helping underrepresented people find their way in tech and fostering diversity in open source. Being able to help a team discover the joys of programming in a welcoming, non-stressful atmosphere on a worthwhile project (and shipping the code to production!) is always a great experience.”
        </i>
        <br>
        <b>Piotr Szotkowski, Rebased (Poland)</b>
      </p>

      <p>
        <i>
          "The learning curve is steep at the beginning of the summer: There's new lingo left and right, a project whose complexity might be intimidating, there's lots of new people, and the team has to find their own workflow. But as the weeks pass, mysteries dissolve into knowledge and the once foreign codebase has not only lost its scariness, but feels a bit like home. Three months of working on Open Source builds a tremendous amount of developer self-confidence!"
        </i>
        <br>
        <b>Carsten Zimmermann, ABSOLVENTA (Germany)</b>
      </p>


      <br>
      <h3 id="articles">Press Coverage</h3>

      <p>
        <a href="http://sengeba.org.br/mulheres-e-tecnologia-foi-destaque-na-i-secomtec/">“Mulheres e tecnologia” foi destaque na I Secomtec</a> (SENGE Bahia, Portuguese)
      </p>

      <p>
        <a href="https://hacks.mozilla.org/2016/04/rails-girls-summer-of-code-and-mozilla/">Mozilla ♥ Rails Girls Summer of Code</a> (Mozilla blog, English)
      </p>

      <p>
        <a href="http://www.startupsmart.com.au/female-entrepreneurs/coding-program-extends-deadline-for-women-in-tech/">This coding program gives female programmers the chance to work for some of the biggest startups in Australia</a> (StartupSmart, English)
      </p>

      <p>
        <a href="https://medium.com/@SoundCloud/more-women-coding-more-summer-e3e36a1eea2a#.uq3am05cl">More women coding this summer with Rails Girls</a> (SoundCloud blog, English)
      </p>

      <p>
        <a href="http://www.biztechmagazine.com/article/2016/03/5-organizations-help-women-get-ahead-their-it-careers">5 Nonprofits That Help Women Get Ahead in Their IT Careers</a> (BizTech, English)
      </p>

      <p>
        <a href="http://venturebeat.com/2013/09/20/new-relics-diversity-scholarships-honor-women-who-build-software-that-matters/">New Relic’s diversity scholarships honor devs who ‘build software that matters’</a> (VentureBea, English)
      </p>

      <p>
        <a href="http://www.thehindu.com/sci-tech/technology/internet/opening-foss-doors-to-women/article4960641.ece">Opening FOSS doors to women</a> (The Hindu, English)
      </p>
      
