---
layout: bootstrap
title: Sponsors
class: page page-sponsors
current: sponsors
stripe: yes
permalink: sponsors/
---

<section class="main container">
  <div class="wrapper clearfix">
    <section class="sponsors-intro">
      <p>
        Rails Girls Summer of Code helps bring more diversity into Open
        Source, by subsidising programming newcomers to work on an Open Source
        project of their choice. This is made possible through the generosity of
        our sponsors.
      </p>
      <p>
        You can find details about our sponsor packages <a href="/sponsors/packages">here</a>.
        If you have any questions please don't hesitate to <a href="mailto:summer-of-code@railsgirls.com.">email us</a>.
      </p>
    </section>

    {% for package in site.data.packages %}
      <section class="sponsors-list sponsors-{{ package.name | downcase}}">
        <h2 class="hero-title">{{package.title}}</h2>
        <div class="center-helper"><div class="sponsors-starrow"></div></div>
        <ul>
          {% for sponsor in package.sponsors %}
            <li id="{{sponsor.id}}" class="row">
              <div class="sponsors {{ package.name | downcase }} sponsors-logo col-md-4">
                <a href="{{ sponsor.url }}" class="{{ sponsor.id }}" target="_blank"></a>
              </div>
              <div class="sponsors-text col-md-8">
                <p>
                  {{ sponsor.text }}
                </p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}

    <section>
      <h3>Sponsorship Guidelines</h3>
      <p>Rails Girls Summer of Code is here to support women on their way into Open Source.<br>
      Please see our <a href="/guide/sponsorship">Sponsorship Guidelines</a> for further information on how we stand behind our values.</p>
    </section>
  </div>
</section>
