---
title: Rails Girls Summer of Code Blog
class: page blog
layout: default
current: blog
---

<section class="main container">
  <div class="wrapper-blog">
    {% for post in site.posts %}
      <article class="content">
        <h1><a href="{{post.url}}">{{post.title}}</a></h1>
        <p class='meta'>
          Posted on <time datetime="{{ page.created_at | date: "%Y-%m-%dT%H:%M:%S%z"  }}">{{ post.created_at | date: "%B %-d, %Y" }}</time> by 
          {% if post.twitter %}
            <a href='http://twitter.com/{{ post.twitter }}'>{{ post.author }}</a>
          {% else %}
            {{ page.author }},
          {% endif %}
        </p>
        {{ post.content }}
      </article>
    {% endfor %}
    {% include blog_sidebar.html %}
  </div>
</section>
