.landing {

}

.keyvisual {
  position: relative;
  min-height: 28em;
  background: {
    image: url(../images/2015-small.jpg);
    size: cover;
    position: center center;
  }

  .keyvisual-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-80%);
  }

  h1, h3 {
    color: $white;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }
  .fa {
    color: $red;
    margin: 0 .5em;
  }
  h1 {
    margin-bottom: .5em;
    font-size: 60px;
  }
  h3 {
    font-size: 30px; 
  }

}

.squiggly-line {
  width: 48px;
  height: 35px;
  margin: 1em auto;
  background: url(../../../img/squiggly-line-transparent.png) no-repeat;
}

.cta {
  transform: translateY(5em);
  text-align: center;
  a {
    display: inline-block;
    color: $white;
    padding: .3em 1.2em;
    border: 2px solid $white;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform 200ms ease, color 200ms ease;
    &:hover {
      transform: scale(0.9);
      color: $red
    }
  }
  
}

.arrow-link {
  text-transform: uppercase;
  font-size: 0.9em;
  &:after {
    content: "\2192";
    display: inline-block;
    margin-left: .5em;
    // transition: margin 300ms linear;
  }
}

.landing-main {
  padding-top: 2em;
  text-align: center;
  color: #484848;
  p {
    font-size: 18px;
    line-height: 1.65;
  }
  h2 {
    margin-top: .5em;
  }
}

.bg--grey {
  background-color: $grey;
}

.landing-teasers {
  margin: 2em 0 3em;
  img {
    width: 100%;
    height: auto;
  }
}
.landing-teaser {
  padding-right: 2rem;
  &:last-child {
    padding-right: none;
  }
  &:first-child {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -4em;
      display: block;
      width: 33px;
      height: 44px;
      background-image: url(../images/bird.png);
    }
  }

  div {
    padding: 1em;
    border-top: .2em solid;
  }
  a {
    display: block;
    min-height: 30rem;
    background-color: $white;
    p {
      color: $black;
    }
    &:hover {
      text-decoration: none;
      img {
        transform: scale(1);
        opacity: .5
      }
      figcaption {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale(1);
      }
    }
  }
  figure {
    position: relative;
    height: 15.9rem;
    overflow: hidden;
    background-color: $red;
  }
  figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 30%;
    opacity: 0;
    border: $white solid 2px;
    padding: 0.4em;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    transform: translate3d(0px, 20px, 0px) scale(1.1);
    transition: all 200ms linear;
  }
  img {
    transform: scale(1.1);
    transition: all 200ms linear;
  }
  h2 {
    margin: .2em 0 .5em;
    font-size: 22px;
  }
  p {
    margin-bottom: 0;
    line-height: 1.45;
  }
}


.landing-misc {
  padding: 4em 0 2em;

  > div:nth-child(2) {
    border-left: 2px solid $grey;
    padding: 0 1.5em 2em;
    margin-left: -0.4em;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
  }
  p {
    text-align: center;
  }
  hr {
    width: 2em;
    border: red solid 2px;
  }
  li {
    margin-bottom: 0.7em;
  }
}

.csscolumns {
  .landing-misc {
    ul {
      // -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
  }
}