.landing {

}

.keyvisual {
  position: relative;
  min-height: 28em;
  background: {
    image: url(../../img/2014.jpg);
    size: cover;
    position: center center;
  }

  .keyvisual-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-80%);
  }

  h1, h3 {
    color: $white;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }
  .fa {
    color: $red;
    margin: 0 .5em;
  }
  h1 {
    margin-bottom: .5em;
    font-size: 60px;
  }
  h3 {
    font-size: 30px; 
  }

}


.landing-main {
  text-align: center;

  a {
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 1.45;
  }
}

.bg--grey {
  background-color: $grey;
}


.landing-teasers {
  margin: 2em 0 3em;
  img {
    width: 100%;
    height: auto;
  }

}
.landing-teaser {
  padding-right: 2rem;
  &:last-child {
    padding-right: none;
  }

  div {
    padding: 1em;
  }
  a {
    display: block;
    min-height: 30rem;
    background-color: $white;
    p {
      color: $black;
    }
    &:hover {
      text-decoration: none;
    }
  }
  figure {
    height: 16rem;
    overflow: hidden;
  }
  figcaption {
    display: none;
    border: solid 1px $white;
  }
  h2 {
    margin: .2em 0 .5em;
    font-size: 22px;
  }
  p {
    margin-bottom: 0;
    line-height: 1.45;
  }
}


.landing-misc {
  padding: 1em 0 3em;
}

.bg--white {

}