
html {
  overflow-x: hidden;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  @media screen and (max-width: $screen-sm) {
    padding-top: 3em;
  }
}

.landing-teaser, .landing-misc, .footer, .sidebar-content, .header, figcaption, #sponsor-packages {
  p, li {
    font-size: 16px;
  }
}

a {
  color: $red;
}
a:hover,
a:focus,
a:active {
  color: $red;
  text-decoration: underline;
}

.color-red {
  color: $red;
}

.logo-small {
  margin: 0.9rem 0 0;
  width: 205px;
  height: 50px;
  overflow: hidden;
  a {
    display: block;
    height: 100%;
    width: 100%;
    background: {
      image: url(../../img/sprites/logo_subnavi.png);
      repeat: no-repeat;
      size: cover;
      position: -15px center;
    }
    text-indent: 999%;
    white-space: nowrap;
  }
  @media screen and (max-width: $screen-sm) {
    margin-left: 10px;
  }
}

.header {
  background-color: $red;
  line-height: 1.4;
  ul {
    padding: 0.9em 1em 0 0;
    margin-bottom: 0;
    list-style: none;
  }

  @media screen and (max-width: $screen-sm) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}

.header-hidden {
  background-color: $white;
  height: 0;
  overflow: hidden;
  will-change: height;
  transition: 200ms ease height;
  ul {
    padding: 1em 0;
    li {
      padding: .2em 0;
    }
    li:first-child {
      margin-bottom: .5em;
      font-size: 20px;
    }
  }

  a {
    color: $red;
    &:hover {
      text-decoration: underline;
    }
    &:active,
    &:focus {
      outline: 1px dotted;
    }
  }

  &.is-open {
    height: auto;
    padding: 0 1.5em;
    @media screen and (min-width: $screen-md) {
      height: 210px;
      padding: 0;
    }
  }
}

.header-nav {
  padding: 0.1em 0 0.7em;
  a {
    @include white-links;
    font-size: 16px;
    display: block;
    padding: .2em .5em;
    &:hover {
      text-decoration: underline
    }
  }
  li:first-child a {
    margin-left: -0.5em;
  }
  @media screen and (min-width: $screen-md) {
    li {
      margin-right: 1.5em;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}

.hor {
  li {
    display: inline-block;
  }
}

.logo {
  padding-bottom: 2em;
  text-align: center;
  h1 {
    margin-bottom: 0.5em;
    font-size: 66px;
  }
  h2 {
    margin: 1em 0 0;
    font-size: 20px;
  }
  a {
    @include white-links;
    &:hover,
    &:active,
    &:focus {
      @include white-links;
      outline: none;
    }
  }
}

a.button-burger {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  font-size: 24px;
  text-align: center;
  background: $white;
  border-radius: 50%;
  overflow: hidden;
  color: $red;
  outline: none;
  text-decoration: none;
  top: 0.5em;
  right: .5em;
  @media screen and (min-width: $screen-sm) {
    right: 0;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  .fa {
    line-height: 1.4;
  }
  .fa:last-child {
    display: none;
  }
  &.is-open {
    .fa:last-child {
      display: block;
    }
    .fa:first-child {
      display: none;
    }
  }
}

.footer {
  position: relative;
  padding-top: 1rem;
  margin-top: 10em;
  background-color: $red;
  color: $white;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    @include white-links;
    &:hover,
    &:active {
      color: $white;
      text-decoration: underline;
    }
    &:focus {
      outline: 1px dotted $white;
    }
  }
  p {
    margin-bottom: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: -3%;
    right: 20%;
    display: block;
    width: 175px;
    height: 150px;
    background: {
      repeat: no-repeat;
      size: cover;
      image: url(../images/megaphone.png);
    }
  }
}
.footer-child {
  padding: 0 1em;
  &:first-child {
    margin-bottom: 2em;
  }
  &:nth-child(2) {
    .container {
      border-top: 2px solid $white;
      padding-left: 0.5em;
    }
  }
  &:last-child {
    padding-bottom: 1em
  }
  @media screen and (min-width: $screen-md) {
    &:last-child {
      margin-top: 2em;
      padding: 1em 0;
    }
  }

  h3 {
    margin-bottom: 1em;
  }
  .list--hor {
    font-size: 16px;
    text-transform: uppercase;
    li {
      margin-right: 2em;
    }
    .fa {
      margin-right: .3em;
      font-size: 22px
    }
  }
}
.sidebar-blog,
.sidebar-content {
  padding-top: .8em;
}
.sidebar-content {
  h4 {
    font-size: 30px;
    margin: 1.3em 0 .2em;
  }
  .current {
    position: relative;
    padding-left: 1em;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 35%;
      left: 0;
      width: .4em;
      height: .4em;
      background-color: $red;
    }
  }
}

.content--blog {
  .meta {
    font-style: italic;
    color: $dark-grey;
    a {
      color: $dark-grey;
      text-decoration: underline;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .smaller {
    width: 30%;
    height: auto;
  }
  article  {
    padding-bottom: 3em;
    margin-bottom: 4em;
    border-bottom: 1px solid $dark-grey;
  }
}



.list--archive {
  li {
    padding: .2em 0;
    border-bottom: 1px solid $dark-grey;
  }
}

.list--none {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.list {
  .fa {
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
  }
}
.list--hor {
  li {
    display: inline-block;
  }
}
.list--star {
  span {
    margin-right: .3em;
  }
}

.paginator {
  text-align: center;
}

.blog-share {
  margin: 4em 0;
}

.sidebar-blog {
  p {
    margin-top: 1em
  }
}

.button {
  background: $red;
  color: $white;
  border-radius: 5px;
  padding: .9em 1.5em;
  &:hover {
    text-decoration: none;
    color: $white;
    background: darken($red, 10)
  }
}

.custom-donation-input {
  width: 48%;
  margin-right: 0 !important;
}

.resize {
  img {
    width: 100%;
    height: auto;
  }
}