/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #380c01;
}
html {
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
}
body {
  font-size: 0.9em;
  font-family: OpenSans, Helvetica Neue, Arial;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #444;
}
section.main {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  overflow: auto;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
p {
   line-height: 1.7; 
}
p + ul {
  margin-top: 2em;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.heart:after {
  content: "\f004";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}

/* =====================================================
    BLOG
  ====================================================== */

.wrapper-blog h1 {
  margin: .3em 0 .5em;
  line-height: 1.3; 
  color: #444;
}
.blog h1 a { color: #d82222; }
.blog .announce {
  margin: 1em 0;
  padding: 1em 1.5em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.blog .meta {
  margin: 2em 0;
  font-size: 0.9em;
  color: lightgray;
}
.blog .meta a {
  color: lightgray;
  text-decoration: underline;
}
.blog pre {
  margin-top: 1em;
  padding: 1em 1.5em;
  line-height: 1.5em;
  border: 1px solid rgb(170, 170, 170);
  background: rgb(246, 246, 246);
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: #666;
}
.blog article {
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-bottom: 1px solid #ccc;
}
.post article {
  border-bottom: none;
}
.blog-teaser h3 {
  text-transform: uppercase;
}
.blog-teaser .teaser-date {
  width: 13em;
  padding-top: .6em;
  border-top: solid 1px lightgray;
  color: lightgray;
}
.blog-share {
  margin: 4em 0;
}
.blog-share-widget {
  display: inline-block;
  margin-right: 1em;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

.wrapper {
  width: 90%;
  margin: 0 5%;
}
.index .wrapper {
  margin-bottom: 0;
}
.wrapper-blog {
  width: 90%;
}
.wrapper.main {
  overflow: auto;
  margin-bottom: 5em;
}

.header-container {
  height: 66px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transistion: all .5s ease;
}
.header-container,
.footer-container,
.sponsors-container,
.arrow-white {
  background-color: #D82222;
}
.index .header-container {
}

/* ===================
    Main navigation
   =================== */
.logo-nav {
  margin: 0;
  padding: 0;
}
/* toggle */
.header-container.is-open { height: auto; }
.header-container.is-open .nav-primary > ul {
  display: block;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.nav-primary > ul { display: none; }
/* /toggle */
.nav-primary ul li { position: relative; }
.nav-primary ul li a {
  display: inline-block;
  width: 100%;
  padding: 1em 1em;
  color: white;
  border-bottom: white 1px solid;
  text-decoration: none;
  white-space: nowrap;
}
.nav-primary > ul > li > a {
  margin-right: 1em;
  text-transform: uppercase;
}
.nav-primary > ul > li:last-child > a {
  margin-right: 0;
}
.nav-primary ul li a:hover {
  background-color: rgba(182, 57, 12, 1);
  text-decoration: none;
}
.nav-primary > ul > li li a {
  padding: 1em 2em;
}
.hamburger {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  cursor: pointer;
}
.hamburger i {
  display: block;
  margin: .8em auto 0;
  width: 1.3em;
  height: .15em;
  border-top: solid rgba(222, 57, 12, 0.9) .2em;
  border-bottom: double rgba(222, 57, 12, 0.9) .5em;
}

/* ===================
    Frontpage
   =================== */

.index .main .content {
  margin-bottom: 4em;
  border-top: 4px solid #D82222;
}
.keyvisual {
  position: relative;
  top: -30px;
  z-index: -1;
  height: 36em;
  margin-bottom: 3em;
  background: url(https://f.cloud.github.com/assets/1711357/2420922/6127dfa0-ab7a-11e3-90b1-da630fdbc6e9.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.keyvisual:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  background: url(../img/wavy-border.png) repeat-x;
}
.hero {
  min-height: 24em;
  text-align: center;
}
.hero-sub {
  color: #380c01;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.hero-sub:before {
  content: "";
  position: absolute;
  display: block;
  left: 44%;
  margin-top: -3em;
  width: 48px;
  height: 35px;
  z-index: 80;
  background: url(../img/squiggly-line.png) no-repeat;

}
.hero-claim {
  font-size: 18px;
  color: #C4220D;
  margin-top: 1em;
}
.hero-claim2 {
  font-size: 18px;
  margin-top: 1em;
}
.hero h1 {
  font-size: 75px;
  margin-bottom: 0em;
  line-height: 67px
}
.hero h2, .hero-title {
  font-size: 43px;
  margin-bottom: .7em;
  line-height: 42px;
}
.hero h1, .hero h2, .hero-title {
  color: #C4220D;
  text-shadow: 3px 3px #fcd6c1;
}
.hero-title {
  margin-bottom: .3em;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.star-red {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin: 0 1.3em;
  background: url(../img/star-red.png) no-repeat;
}
.sponsors-starrow {
  width: 435px;
  height: 19px;
  display: inline-block;
  background: url(../img/starsrow.png) no-repeat;
}

/* ===================
    Buttons (Call to action)
   =================== */

.button {
  display: inline-block;
  padding: 1em 1em;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #D82222;
}
.button:hover {
  color: white;
  text-decoration: none;
  background-color: #f00e0e;
}

.title {
    color: white;
}

a {
  color: #D82222;
  text-decoration: none;
}
a:hover {
  color: #D82222;
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.5;
}
h3 {
  font-size: 1.6em;
}
.list { line-height: 1.5; }
.list .fa {
  width: 1em;
  text-align: center;
  margin-right: 0.5em;
}
.list--none {
  padding: 0;
  list-style-type: none;
}
.list--none li,
.list--dl dd {
  margin: 0;
}
.list--dl dt {
  margin-bottom: .2em;
  font-weight: 400;
}
.list--dl dd {
  margin-bottom: 2em;
}
.list--nested ul { margin: .5em 0 2em; }
.list--nested > li > a {
  font-weight: 500;
  text-transform: uppercase;
}
.list--team {
  overflow: auto;
  padding: 0;
}
.list--team li {
  padding: 0;
  margin-bottom: 3em;
  text-align: center;
}
.list--team figure img {
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
}
.list--team i { margin-right: .2em; }

/*
 * Team grid
 */

.Grid--5 li {
  display: inline-block;
  width: 18%;
  min-width: 130px;
  margin-right: 2%;
}
.Grid--5 li:nth-child(5n) { margin-right: 0; }

.content {
  width: 100%;
  padding: 0 .5em;
  float: none;
}

.color--red { color: #D82222; }

.page-team article {
  min-height: 15em;
}
.page-team article { min-height: 15em; }
.page-team article.is-loading {
  background-image: url('/img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}


/* ===============
    HEADER FOOTER
   =============== */

.header-container ul {
  margin: 0;
  padding: 0;
}
.footer-container {
  padding-bottom: 1em;
  padding-top: 2em;
  clear: both;
}
.footer-container .wrapper {
  position: relative;
  color: white;
  padding-top: 1em;
}
.footer-container .wrapper a {
  color: white;
  text-decoration: underline;
}

/* ===============
    SIDEBARS
   =============== */

.sidebar {
  width: 100%;
  float: none;
  margin-top: 0;
}
.sidebar .border { border-top: solid 4px #D82222; }
.sidebar a.current { font-weight: bold; }
.sidebar-content { margin-bottom: 4em; }
.sidebar-content h4 {
  text-transform: uppercase;
  font-weight: 500;
}

.frontpage-sidebar {
  margin-bottom: 4em;
}
.fullwidth {
  width: 100%;
  float: none;
  clear: both;
  margin-bottom: 3em;
}
.related {
	margin-bottom: 5em;
	padding-top: .5em;
	padding-bottom: 1em;
	text-align: left;
}
.related ul li:before {
	content: '';
}
.newsletter {
  margin-bottom: 2em;
  padding: 0;
}
.blog .newsletter {
  padding: 1em 0 2em;
  border-top: solid 1px lightgray;
}

/* ============
    SPRITES
   ============ */

.logo-nav {
  background-image: url(../img/sprites/logo_subnavi.png);
  background-repeat: no-repeat;
  background-position: 0px 7px;
  width: 210px;
  height: 58px;
  text-indent: 100%;
  overflow: hidden;
}
.logo-nav a {
  overflow: hidden;
  text-indent: 100%;
  padding: 1em 0;
  width: 210px;
  height: 58px;
}
.logo {
    background-image: url(../img/sprites/logo_subnavi.png);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    margin: 1em 0em 0em;
    width: 320px;
    height: 100px;
    text-indent: 99em;
    overflow: hidden;
}

/* ====== media ====== */
.media {margin: 2em 0;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .bd p { margin-top: 0; }
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

/* ==========================================================================
   SCRIBBLES
   ========================================================================== */

.scribble1, .scribble2, .scribble3, .scribble4, .scribble5,
.scribble6, .scribble7, .scribble8, .scribble9, .scribble10,
.scribble11, .scribble12, .scribble13, .scribble14, .scribble15,
.scribble16, .scribble17, .scribble18 {
  background-image: url(../img/scribbles.png);
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 250px;
  margin-top: 0;
}
.scribble1 { background-position: 30px 0px; }
.scribble2 { background-position: 30px -250px; }
.scribble3 { background-position: 30px -500px; }
.scribble4 { background-position: 30px -750px; }
.scribble5 { background-position: 30px -1000px; }
.scribble6 { background-position: 30px -1250px; }
.scribble7 { background-position: 30px -1500px; }
.scribble8 { background-position: 30px -1750px; }
.scribble9 { background-position: 30px -2000px; }
.scribble10 { background-position: 30px -2250px; }
.scribble11 { background-position: 30px -2500px; }
.scribble12 { background-position: 30px -2750px; }
.scribble13 { background-position: 30px -3000px; }
.scribble14 { background-position: 30px -3250px; }
.scribble15 { background-position: 30px -3500px; }
.scribble16 { background-position: 30px -3750px; }
.scribble17 { background-position: 30px -4000px; }
.scribble18 { background-position: 30px -4250px; }
.scribble_coins3 { background-image: url(../img/scribble_coins3.png) }

/*  Allign scribble with video */
.index .scribble1 {
	margin-top: 5em;
}

/* ==========================================================================
   Campaign styles: ;
   ========================================================================== */

#sponsor-packages {
  float: left;
}

#sponsor-packages {
  width: 100%;
  margin-bottom: 0.5em;
  padding-left: 0px;
}
#sponsor-packages li {
  display: inline-block;
  position: relative;
  width: 210px;
  /* height: 300px; */
  vertical-align: top;
  list-style-type: none;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4px;
  padding: 5px 15px;
  margin-right: 15px;
  text-align: center;
}
#sponsor-packages li:last-child {
  margin-right: 0;
}
#sponsor-packages li:before {
  content: "";
  color: white;
}
#sponsor-packages li {
  padding-top: 20px;
}
#sponsor-packages h4 {
  margin: 0 0 1em 0;
  color: #444;
}
#sponsor-packages p {
  text-align: left;
}
#sponsor-packages {
  position: relative;
}
#sponsor-packages .button {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 180px;
  margin-bottom: 15px;
}
#sponsor-packages a.button:active {
  position: inherit;
}
.custom-donation {
  margin-bottom: 0.5em;
}
.custom-donation .button {
  position: relative;
  top: -2px;
}
.custom-donation input[type=number] {
  width: 110px;
  height: 50px;
  padding: 0px 10px;
  margin-right: 0.5em;
  font-size: 24px;
}
.footnote {
  font-size: 90%;
}
.stripe-note {
  margin-top: 0px;
  font-size: 0.8em;
  color: #bbb;
}
.stripe-note a {
  color: #bbb;
  text-decoration: underline;
}


/* ==========================================================================
   Sponsors
   ========================================================================== */

.sponsors-container {
  margin-top: 5em;
  padding-top: 2em;
}

#sponsors h3 {
  margin-bottom: 2em;
  font-size: 26px;
  color: white;
}
.sponsors-container .wrapper {
  margin-bottom: 0;
}

.align-left {
  text-align: left;
}
#sponsors ul {
  margin: 0;
  padding: 0;
}
#sponsors li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sponsors h4 {
  position: absolute;
  left: -25px;
  margin: 0;
  text-align: right;
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: normal;
  color: #ddd;
  transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
}
.sponsors {
  margin-bottom: 2em;
}
.sponsors-logo {
  position: relative;
  overflow: hidden;
  margin: 1em 0;
}
.sponsors a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 0.8em;
  background: white center center no-repeat;
  background-size: 100%;
}
.sponsors a:last-child {
  margin-right: 0;
}
#sponsors .platinum h4 {
  top: 175px;
}
.sponsors.platinum a {
  width: 320px;
  height: 181px;
}
#sponsors .gold h4 {
  top: 125px;
}
.sponsors.gold a {
  width: 320px;
  height: 131px;
}
#sponsors .silver h4 {
  top: 87px;
}
.sponsors.silver a {
  width: 235px;
  height: 93px;
}
#sponsors .bronze h4 {
  top: 70px;
}
.sponsors.bronze a {
  width: 184px;
  height: 75px;
}
#sponsors .conferences h4 {
  top: 60px;
}
.sponsors.conferences a {
  width: 151px;
  height: 61px;
  background-size: 151px;
}
.sponsors .badge:after {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  position: absolute;
  color: #FFF;
  line-height: 1;
  padding: 1px 30px 4px 30px;
  font-size: 9px;
  background-color: #BBB;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.sponsors .lead-support:after {
  content: "Lead support + organization";
  top: 19px;
  right: -36px;
  width: 70px;
}
.sponsors .founding-support:after {
  content: "Founding support";
  top: 19px;
  right: -36px;
  width: 70px;
}
.sponsors .support:after {
  content: "Support + organization";
  top: 11px;
  right: -44px;
  width: 70px;
}
.sponsors .anynines     { background-image: url(../img/sponsors/anynines.png); }
.sponsors .articulate   { background-image: url(../img/sponsors/articulate.png); }
.sponsors .agileanimal  { background-image: url(../img/sponsors/agileanimal.png); }
.sponsors .aupair       { background-image: url(../img/sponsors/aupair.png); }
.sponsors .basecamp     { background-image: url(../img/sponsors/basecamp.png); }
.sponsors .bendyworks   { background-image: url(../img/sponsors/bendyworks.png); }
.sponsors .carbonfive   { background-image: url(../img/sponsors/carbonfive.png); }
.sponsors .carnesmedia  { background-image: url(../img/sponsors/carnesmedia.png); }
.sponsors .cloudcontrol { background-image: url(../img/sponsors/cloudcontrol.png); }
.sponsors .codegram     { background-image: url(../img/sponsors/codegram.png); }
.sponsors .cognitect    { background-image: url(../img/sponsors/cognitect.png); }
.sponsors .confreaks    { background-image: url(../img/sponsors/confreaks.png); }
.sponsors .dawanda      { background-image: url(../img/sponsors/dawanda.png); }
.sponsors .de_messe     { background-image: url(../img/sponsors/de_messe.png); }
.sponsors .digitalocean { background-image: url(../img/sponsors/digitalocean.png); }
.sponsors .dockyard     { background-image: url(../img/sponsors/dockyard.png); }
.sponsors .engineyard   { background-image: url(../img/sponsors/engineyard.png); }
.sponsors .envato       { background-image: url(../img/sponsors/envato.png); }
.sponsors .frontfoot    { background-image: url(../img/sponsors/frontfoot.png); }
.sponsors .github       { background-image: url(../img/sponsors/github.png); }
.sponsors .gnip         { background-image: url(../img/sponsors/gnip.png); }
.sponsors .google       { background-image: url(../img/sponsors/google-2014.png); }
.sponsors .groupon      { background-image: url(../img/sponsors/groupon.png); }
.sponsors .hashrocket   { background-image: url(../img/sponsors/hashrocket.png); }
.sponsors .hitfox       { background-image: url(../img/sponsors/hitfox.png); }
.sponsors .honeybadger  { background-image: url(../img/sponsors/honeybadger.png); }
.sponsors .innoq        { background-image: url(../img/sponsors/innoq.png); }
.sponsors .jumpstart    { background-image: url(../img/sponsors/jumpstart.png); }
.sponsors .keenio       { background-image: url(../img/sponsors/keenio.png); }
.sponsors .innoq        { background-image: url(../img/sponsors/innoq.png); }
.sponsors .malwarebytes { background-image: url(../img/sponsors/malwarebytes.png); }
.sponsors .nedap        { background-image: url(../img/sponsors/nedap.png); }
.sponsors .nuggad       { background-image: url(../img/sponsors/nuggad.png); }
.sponsors .newrelic     { background-image: url(../img/sponsors/newrelic.png); }
.sponsors .orcasnet     { background-image: url(../img/sponsors/orcasnet.png); }
.sponsors .paymill      { background-image: url(../img/sponsors/paymill.png); }
.sponsors .pivotal      { background-image: url(../img/sponsors/pivotal.png); }
.sponsors .planio       { background-image: url(../img/sponsors/planio.png); }
.sponsors .rackspace    { background-image: url(../img/sponsors/rackspace.png); }
.sponsors .readmill     { background-image: url(../img/sponsors/readmill.png); }
.sponsors .shopify      { background-image: url(../img/sponsors/shopify.png); }
.sponsors .site5        { background-image: url(../img/sponsors/site5.png); }
.sponsors .soundcloud   { background-image: url(../img/sponsors/soundcloud.png); }
.sponsors .supadupa     { background-image: url(../img/sponsors/supadupa.png); }
.sponsors .tealeaf      { background-image: url(../img/sponsors/tealeaf.png); }
.sponsors .thoughtworks { background-image: url(../img/sponsors/thoughtworks.png); }
.sponsors .tilde        { background-image: url(../img/sponsors/tilde.png); }
.sponsors .toptal       { background-image: url(../img/sponsors/toptal.png); }
.sponsors .travis       { background-image: url(../img/sponsors/travis-2014.png); }
.sponsors .upworthy     { background-image: url(../img/sponsors/upworthy.png); }
.sponsors .wimdu        { background-image: url(../img/sponsors/wimdu.png); }
.sponsors .wooga        { background-image: url(../img/sponsors/wooga.png); }
.sponsors .zweitag      { background-image: url(../img/sponsors/zweitag.png); }


.sponsors .arrrrcamp       { background-image: url(../img/confs/arrrrcamp.png); }
.sponsors .devcon          { background-image: url(../img/confs/devcon.png); }
.sponsors .distill         { background-image: url(../img/confs/distill.png); }
.sponsors .dotrb           { background-image: url(../img/confs/dotrb.png); }
.sponsors .eurucamp        { background-image: url(../img/confs/eurucamp.png); }
.sponsors .futurestack     { background-image: url(../img/confs/futurestack.png); }
.sponsors .jrubyconfeu     { background-image: url(../img/confs/jrubyconfeu.png); }
.sponsors .madisonruby     { background-image: url(../img/confs/madisonruby.png); }
.sponsors .railsisrael     { background-image: url(../img/confs/railsisrael.png); }
.sponsors .rubyshift       { background-image: url(../img/confs/rubyshift.png); }
.sponsors .rupy            { background-image: url(../img/confs/rupy2.png); }
.sponsors .socoded         { background-image: url(../img/confs/socoded.png); }
.sponsors .startech        { background-image: url(../img/confs/startech.png); }
.sponsors .strangeloop     { background-image: url(../img/confs/strangeloop.png); }
.sponsors .wickedgoodruby  { background-image: url(../img/confs/wickedgoodruby.png); }
.sponsors .cssconf         { background-image: url(../img/confs/cssconf.png); }
.sponsors .roguerails      { background-image: url(../img/confs/roguerails.png); }
.sponsors .bubbleconf      { background-image: url(../img/confs/bubbleconf.png); }


.nerdies img {
  width: 100%;
  height: auto;
}
.index .nerdies {
  padding-bottom: 3em;
}
.blog .nerdies {
  margin: 2em 0 3em;
  border-bottom: solid 1px lightgray;
}
.nerdies p {
  line-height: 1.5;
  font-size: 14px;
}

.sponsors-intro {
  margin-bottom: 5em;
}
.sponsors-list ul {
  padding: 0;
  margin: 2em 0 3em;
  border-top: 1px solid lightgray;
}
.sponsors-list ul li {
  overflow: auto;
  clear: both;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
}
.center-helper {
  text-align: center;
}
.sponsors-logo {
  margin: 1em 0;
}
.list-redstar {
  padding: 0;
}
.list-redstar li {
  margin-bottom: .3em;
}
.list-redstar li:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 14px;
  margin: 0 .8em 0 0;
  background: url(../img/star-red.png) no-repeat;
}
.sponsors-container {
  padding-top: 2em;
}

.sponsors-container h1 {
  margin-bottom: 2em;
  font-size: 26px;
  color: white;
  text-align: center;
}
.sponsors-container .wrapper {
  margin-bottom: 0;
}

/* New blog design June '14 */
.sidebar-blog h3 { font-size: 20px; }
.sidebar-blog section {
  padding: 0 0 2em;
  border-bottom: 4px solid #d82222;
}
.sidebar-blog section:last-child { border: none; }
.sidebar-blog .twitter { margin-bottom: 2em; }
.twitter iframe { width: 100% !important; }

/* ==========================================================================
   Media Queries ----- 480px
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .summer_of_code {
      float: left;
    }
    .summer_of_code img {
      width: 80%;
    }
    .logo {
       background-image: url(../img/sprites/logo_start.png);
       background-position: 0px 0px;
       margin: 1em 0em 3em;
       width: 675px;
       height: 165px;
    }
    .hero h1, .hero h2 {
      line-height: 30px;
    }
    .hero-sub:before {
      left: 49%;
    }
    .sponsors div {
        width: 33%;
    }

}

/* ==========================================================================
   Media Queries ----- 768px
   ========================================================================== */
@media only screen and (min-width: 768px) {

  .media .img {float:left; margin-right: 10px;}

  .logo {
    background-image: url(../img/sprites/logo_start.png);
    background-position: 0px 0px;
    margin: 1em 0em 3em;
    width: 675px;
    height: 165px;
  }
  .logo-nav { float: left; }
  .hero {
    margin-left: -3em;
    padding-left: 7em;
    margin-right: -3em;
    padding-right: 8em;
    /* padding-top: 3em; */
    background: url(../img/scribbles-frontpage.png) no-repeat scroll 52% 0% transparent;
  }
  .nav-primary > ul {
    margin-top: 5em;
  }

  .content {
    width: 65%;
    float: left;
  }
  .sidebar {
    width: 27%;
    float: right;
    font-size: 0.9em;
  }
  .content-blog {
    width: 60%;
    overflow: auto;
  }
  .sidebar-blog {
    position: absolute;
    top: 9em;
    right: 0;
    width: 27%;
    margin-right: 2em;
  }
  .related {
      text-align: right;
  }
  .page-campaign .scribble8 {
    float: right;
  }

  .sponsors div {
      width: 33%;
  }
  .sponsors-logo {
    float: left;
    width: 32%;
  }
  .sponsors-text {
    float: right;
    width: 65%;
  }
}

@media screen and (min-width: 900px) {
  /* toggle */
  .hamburger { display: none; }
  .header-container.is-open .nav-primary > ul {
    display: block;
    height: auto 
  }
  .nav-primary > ul {
    display: block;
    position: relative;
    width: auto;
    float: right;
    margin-top: 7px;
  }
  .nav-primary > ul > li {
    display: inline-block;
  }
  .nav-primary > ul > li a {
    display: inline-block;
    width: auto;
    border: none;
    font-size: 0.9em;
    padding-bottom: 1.2em;
  }
  .nav-primary > ul > li:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 19px;
    right: -27px;
    width: 40px;
    height: 20px;
    background: url(/img/star.png) top left no-repeat;
  }
  .nav-primary > ul > li:last-of-type:after {
    display: none;
  }
  .nav-primary > ul > li a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  .nav-primary > ul > li > a.current-page:after {
    background-image: url(../img/sprites/nav_active_arrow.png);
    background-repeat: no-repeat;
    background-position: center 41px;
    text-decoration: none;
  }
  .nav-primary > ul > li > ul {
    display: none;
  }
  .nav-primary > ul > li:hover ul {
    position: absolute;
    display: block;
    z-index: 99;
    min-width: 110px;
    margin-left: -1em;
    background-color: #D82222;
  }
  .nav-primary > ul > li:hover ul li {
    display: block;
    text-align: left;
  }
  .nav-primary > ul > li:first-of-type:hover a.current-page {
    background-image: none;
  }
  /* /toggle */
}

/* ==========================================================================
   Media Queries ----- 1140px
   ========================================================================== */
@media only screen and (min-width: 1140px) {

   .logo {
       margin: 2em 0em 3em;
       width: 680px;
       height: 180px;
   }
   .content { padding: 0; }
    .wrapper,
    .wrapper-blog {
        width: 1026px; /* 1140px - 10% for margins */
        margin-left: auto;
        margin-right: auto;
        /* margin: 0 auto 3em; */
    }
    .wrapper-blog {
      position: relative;
    }
    .wrapper-blog {
      margin-top: 4em;
    }
    .sidebar-blog {
      top: 0;
      right: 0;
      margin-right: 0em;
      margin-top: 0em;
    }
    .sponsors div {
        width: 20%;
    }
    #sponsor-packages {
      width: 105%;
      padding-left: 0px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.is-hidden {
    display: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
