#progress {
  position: relative;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 5px;
  height: 60px;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    width: 80%;
  }

  i {
    position: relative;
    display: inline-block;
    height: 60px;
  }
  .goal i {
    background-image: url(/img/icons/teamicon_grey.svg);
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    opacity: .5;
  }
  .completed {
    position: absolute;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: #EEE;
  }
  .completed i {
    background-image: url(/img/icons/teamicon_red.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
  }
}
