/* ==========================================================================
   Sponsors
   ========================================================================== */

.sponsor-container {
  h3 {
    margin-bottom: 1em;
    font-size: 30px;
    color: $white;
    text-transform: uppercase;
  }
  h4 {
    font-size: 16px;
    margin-bottom: .5em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li ul li {
    display: inline-block;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }

  .partners h4,
  .platinum h4 {
    top: 175px;
  }
}

.sponsors {
  margin-bottom: 2em;
  
  a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 1em;
    background: $white center center no-repeat;
    background-size: 100%;
  }
  a:hover {
    text-decoration: none;
  }

  a div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
  }

  a i:before {
    content: "\f005";
    display: block;
    float: right;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 12px;
    color: #d82222;
    margin: 3px 4px 3px 0px;
  }

  a:last-child {
    margin-right: 0;
  }

  &.partners a,
  &.platinum a {
    width: 320px;
    height: 181px;
  }

  .badge:after {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    position: absolute;
    color: #FFF;
    line-height: 1;
    padding: 4px 30px 5px 30px;
    font-size: 11px;
    background-color: #BBB;
    transform: rotate(45deg);
  }
  .partner:after {
    content: "Partner";
    top: 19px;
    right: -22px;
    width: 100px;
  }
  .founding-support:after {
    content: "Founding support";
    top: 19px;
    right: -36px;
    width: 70px;
  }
  .support:after {
    content: "Support + organization";
    top: 11px;
    right: -44px;
    width: 70px;
  }

}

.sponsors-logo {
  position: relative;
  overflow: hidden;
  margin: 1em 0;
}


#sponsors .gold h4 {
  top: 125px;
}
.sponsors.gold a {
  width: 320px;
  height: 131px;
}
#sponsors .silver h4 {
  top: 87px;
}
.sponsors.silver a {
  width: 235px;
  height: 93px;
}
#sponsors .bronze h4 {
  top: 70px;
}
.sponsors.bronze a {
  width: 184px;
  height: 75px;
}
#sponsors .conferences h4 {
  top: 60px;
}
.sponsors.conferences a {
  width: 151px;
  height: 61px;
  background-size: 151px;
}
.sponsors a .years {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 25px;
  margin-right: 3px;
  text-align: right;
}
.sponsors .year {
  vertical-align: top;
}
.sponsors.partners .year {
  margin-right: .3em;
}
.sponsors.gold .year {
  margin-right: .3em;
}
.sponsors.silver .year {
  margin-right: .1em;
}
.sponsors.bronze .year {
  margin-right: 0;
}


.sponsors-cta {
  vertical-align: top;
  height: 182px;
  padding-top: 2em;
  overflow: hidden;
  border: dashed $white 2px;
  border-radius: 5px;
  text-align: center;
  a {
    width: auto;
    background: $red;
    text-transform: uppercase;
    &:after {
      color: $white;
    }
  }
  h3 {
    margin-top: 2.5em;
    text-transform: none;
    font-size: 22px;
  }

}
.hero-title {
  color: $red;
  text-transform: uppercase;
}
.sponsors-intro {
  margin-bottom: 5em;
}
.sponsors-list ul {
  padding: 0;
  margin: 2em 0 3em;
  border-top: 1px solid lightgray;
}
.sponsors-list ul li {
  overflow: auto;
  clear: both;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
}
.center-helper {
  text-align: center;
}
.sponsors-logo {
  margin: 1em 0;
}
.sponsors-container {
  padding-top: 2em;
}
.sponsors-container h1 {
  margin-bottom: 2em;
  font-size: 26px;
  color: white;
  text-align: center;
}
.sponsors-container .wrapper {
  margin-bottom: 0;
}
.sponsors-text {
  padding-top: 1em;
}
