---
---

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import "shariff.min";
@import "bootstrap";
@import "layout";
@import "landing";
@import "donations";
@import "pagination";
@import "campaign";
@import "progress";
@import "sponsors";
@import "team";

@import "layouts/article";
@import "layouts/sidebar";

@import "components/button";

{% for package in site.data.packages %}
  {% for sponsor in package.sponsors %}
    .sponsors .{{ sponsor.id }} {
      background-image: url(../../img/sponsors/{{ sponsor.id }}.png);
    }
  {% endfor %}
{% endfor %}
