---
---

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import "shariff.min";
@import "bootstrap";
@import "typography";
@import "layout";
@import "landing";
@import "donations";
@import "pagination";
@import "campaign";
@import "progress";
@import "sponsors";
@import "team";
@import "blog";

@import "layouts/article";
@import "layouts/sidebar";

@import "components/button";
@import "components/gallery";

{% for package in site.data.packages %}
  {% for sponsor in package.sponsors %}
    .sponsors .{{ sponsor.id }},
    .sponsors-list .{{ sponsor.id }} {
      background-image: url(../../img/sponsors/{{ sponsor.id }}.png);
    }
  {% endfor %}
{% endfor %}

{% for conference in site.data.conferences %}
  .sponsors .{{ conference.id }} {
    background-image: url(../../img/confs/{{ conference.id }}.png);
  }
{% endfor %}
