.list--team {
  overflow: auto;
  padding: 0;
}
.list--team li {
  padding: 0;
  margin-bottom: 3em;
  text-align: center;
}
.list--team figure img {
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
}
.list--team i { margin-right: .2em; }

/*
 * Team grid
 */

.Grid--5 li {
  display: inline-block;
  width: 18%;
  min-width: 130px;
  margin-right: 2%;
  vertical-align: top;
}
.Grid--5 li:nth-child(5n) { margin-right: 0; }

.color--red { color: #D82222; }

.page-team article {
  min-height: 15em;
}
.page-team article { min-height: 15em; }
.page-team article.is-loading {
  background-image: url('../../../img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}