h1 {
  margin-top: floor(($font-size-h1 * $headings-line-height)); // 79px
  margin-bottom: floor(($font-size-base * 1.777)); // 31px
}

h5,
h6 {
  margin-bottom: $font-size-base / 3; // 6px
}

h5 {
  text-transform: uppercase;
}
h6 {
  font-weight: 700;
}