<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <script>
          if(location.hostname == 'railsgirlsberlin.github.io') {
            location.href = 'http://railsgirlssummerofcode.org'
          }
        </script>

        <title>{% if page.title %} {{ page.title }} | {% endif %} Rails Girls Summer of Code</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Rails Girls Summer of Code 2013">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/donations.css">
        <link rel="alternate" type="application/atom+xml" href="http://railsgirlssummerofcode.org/blog.xml"/>

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="/js/vendor/date.format.js"></script>
        <script src="/js/donations.js"></script>
        <script src="/js/pagination.js"></script>
        <script src="/js/blogroll.js"></script>
    </head>
    <body class="{{ page.class }}">
        <div class="header-container {% if page.current == 'index' %}no-scroll{% endif %}">
            <header class="wrapper clearfix">
                <a href="/" class=""><h1 class="logo-nav ir">Rails Girls Summer of Code</h1></a>
                <nav class="nav-primary clearfix">
                    <div class="hamburger"><i></i></div>
                    <ul>
                        <li><a href="/about" {% if page.current == 'about' %}class="current-page"{% endif %}>About</a>
                            <ul>
                                <li><a href="/press" {% if page.current == 'press' %}class="current-page"{% endif %}>Press</a></li>
                                <li><a href="/faq" {% if page.current == 'faq' %}class="current-page"{% endif %}>FAQ</a></li>
                            </ul>
                        </li>

                        <li><a href="http://teams.railsgirlssummerofcode.org">Teams</a></li>
                        <li><a href="/blog" {% if page.current == 'blog' %}class="current-page"{% endif %}>Blog</a></li>
                        <li><a href="/students" {% if page.current == 'students' %}class="current-page"{% endif %}>Students</a></li>
                        <li><a href="/campaign" {% if page.current == 'campaign' %}class="current-page"{% endif %}>Donate Now!</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        {{ content }}

        <div class="footer-container">
            <footer id="sponsors" class="wrapper">
                <h3>Sponsored by</h3>
                <div class="sponsors platinum">
                    <a href="http://github.com"     class="github" target="_blank"></a>
                    <a href="http://travis-ci.org"  class="travis" target="_blank"></a>
                </div>
                <div class="sponsors gold">
                    <a href="http://37signals.com"  class="_37signals" target="_blank"></a>
                    <a href="http://tilde.io"       class="tilde" target="_blank"></a>
                    <a href="https://developers.google.com/open-source" class="google" target="_blank"></a>
                    <a href="http://soundcloud.com" class="soundcloud" target="_blank"></a>
                </div>
                <div class="sponsors silver">
                    <a href="http://envato.com"     class="envato" target="_blank"></a>
                    <a href="http://innoq.com"      class="innoq" target="_blank"></a>
                    <a href="http://shopify.com"    class="shopify" target="_blank"></a>
                    <a href="http://jumpstartlab.com" class="jumpstart" target="_blank"></a>
                    <a href="http://www.aupair-world.net" class="aupair" target="_blank"></a>
                    <a href="http://supadupa.me"    class="supadupa" target="_blank"></a>
                    <a href="http://engineyard.com" class="engineyard" target="_blank"></a>
                    <a href="http://anynines.com"   class="anynines" target="_blank"></a>
                    <a href="http://engineering.groupon.com" class="groupon" target="_blank"></a>
                    <a href="http://gnip.com"       class="gnip" target="_blank"></a>
                    <a href="http://dawanda.com"    class="dawanda" target="_blank"></a>
                </div>
                <div class="sponsors bronze">
                    <a href="http://dockyard.com"   class="dockyard" target="_blank"></a>
                    <a href="http://confreaks.com"  class="confreaks" target="_blank"></a>
                    <a href="http://wooga.com"      class="wooga" target="_blank"></a>
                    <a href="http://wimdu.com"      class="wimdu" target="_blank"></a>
                    <a href="http://pivotallabs.com" class="pivotal" target="_blank"></a>
                    <a href="http://upworthy.com"   class="upworthy" target="_blank"></a>
                    <a href="http://honeybadger.io" class="honeybadger" target="_blank"></a>
                    <a href="http://bendyworks.com" class="bendyworks" target="_blank"></a>
                    <a href="http://developer.rackspace.com"  class="rackspace" target="_blank"></a>
                    <a href="http://codegram.com"   class="codegram" target="_blank"></a>
                    <a href="http://nedap.com"      class="nedap" target="_blank"></a>
                    <a href="http://frontfoot.com.au"      class="frontfoot" target="_blank"></a>
                    <a href="http://readmill.com"      class="readmill" target="_blank"></a>
                </div>
                <p style="clear: both">
                   &hearts; artwork by <a href=" http://www.ejaculesc.com/" target="_blank">Rebecca Conrad<a> <br>
                  &copy; <a href="http://railsgirls.com">Rails Girls</a> 2013
                  &mdash; supported by <a href="http://about.travis-ci.org/foundation">Travis Foundation</a> |
                  <a href="/imprint/">Imprint</a>
                </p>
            </footer>
        </div> <!-- #footer-container -->

        <script src="/js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
        <!-- <script src="/js/vendor/jquery.stellar.js"></script> -->
        <script src="/js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41237864-1', 'railsgirlssummerofcode.org');
          ga('send', 'pageview');
        </script>
    </body>
</html>
