---
layout: bootstrap
title: Hall of Fame 2018
class: page page-hall-of-fame
current: 2018
permalink: hall-of-fame/2018/
---

<h1 class="text-center">{{page.title}}</h1>

<h3>Teams</h3>
<div class="main-grid">
  {% for team in site.data.teams-2018 %}
  <div class="main-grid-child">
    <h4 class="color-red">{{ team.name }}</h4>
    <article>
      <strong>Students</strong>: {{ team.students }}</br>
      <strong>Project</strong>: {{ team.project }}</br>
      <strong>Location</strong>: {{ team.location }}</br>
    </article>
  </div>
  {% endfor %}
</div>

<h3>Partners</h3>
<div class="main-grid">
  {% for package in site.data.packages-2018 %}
    {% for sponsor in package.sponsors %}
      {% if sponsor.partner == true %}
      <div class="sponsors-grid-child">
        <a href="{{sponsor.url}}">{{ sponsor.name }}</a>    
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<h3>Statistics</h3>
<div class="stats-grid">
  <div class="stats-grid-child">
    <div class="statistics">392</div>
    applications received
  </div>
  <div class="stats-grid-child">
    <div class="statistics">13</div>
    sponsored teams
  </div>
  <div class="stats-grid-child">
    <div class="statistics">$80,516.00</div>
    crowdfunded
  </div>
  <div class="stats-grid-child">
    <div class="statistics">50</div>
    coaches
  </div>
  <div class="stats-grid-child">
    <div class="statistics">12</div>
    supervisors
  </div>
</div>

<h3>Platinum sponsors</h3>
<div class="main-grid">
  {% for package in site.data.packages-2018 %}
    {% if package.name contains 'Platinum' %}
      {% for sponsor in package.sponsors %}
        <div class="sponsors-grid-child">
          <a href="{{sponsor.url}}">{{ sponsor.name }}</a>    
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

<h3>Special moments</h3>

<h4>Reactions</h4>

<h4>#ThankfulForRGSoC</h4>
<div class="special-moments">
  <div class="special-moments-child"><p>We’re here to stay and to keep creating real change, by welcoming and training women and non-binary individuals to code and advocate for a diverse and inclusive Open Source community. This is why, in 2018, we mobilised our community to share with us their experiences of our program and let us know why they're #ThankfulForRGSoC.</p>
  <p>We received an overwhelming amount of messages from our community on why RGSoC was important to them and shared some of these “#ThankfulForRGSoC stories” from our supporters, participants, coaches, mentors and organisers.</p>
  </div>
  <div class="special-moments-child">
    <img src="/img/blog/2018/2018-04-06-rgsoc-teams-2013-2017_thankfulforrgsoc-stories.png">
  </div>
</div>

<h4>OSS Projects Spotlight</h4>

<h3>Coaching companies</h3>

