---
layout: bootstrap
title: Hall of Fame 2018
class: page page-hall-of-fame
current: 2018
permalink: hall-of-fame/2018/
---

<h1 class="text-center">{{page.title}}</h1>

<h3>Teams</h3>
<div class="main-grid">
  <div class="main-grid-child">
    <h4 class="color-red">Team name</h4>
    <article>Some team information goes here Some team information goes here Some team information goes here Some team information goes here Some team information goes here</article>
  </div>
  <div class="team-grid-child">
    <h4 class="color-red">Team name</h4>
    <article>Some team information goes here</article>
  </div>
  <div class="team-grid-child">
    <h4 class="color-red">Team name</h4>
    <article>Some team information goes here</article>
  </div>
</div>

<h3>Partners</h3>
<div class="main-grid">
  {% for package in site.data.packages-2018 %}
    {% for sponsor in package.sponsors %}
      {% if sponsor.partner == true %}
      <div class="team-grid-child">
        {{sponsor.name}}
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<h3>Statistics</h3>
<div class="main-grid">
  <div class="stats-grid-child">
    <div class="statistics">230</div>
    applications received
  </div>
  <div class="stats-grid-child">
    230 applications received
  </div>
  <div class="stats-grid-child">
    230 applications received
  </div>
</div>

<h3>Platinum sponsors</h3>
<div class="main-grid">
  {% for package in site.data.packages-2018 %}
    {% if package.name contains 'Platinum' %}
      {% for sponsor in package.sponsors %}
        <div class="team-grid-child">
          {{sponsor.name}}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

<h3>Special moments</h3>

<h4>Reactions</h4>

<h3>Coaching companies</h3>

